// BOOKING+_STATUS.LESS
// Styles specific to the booking status control in the right hand column of most pages

.booking-container{
	.booking-status {
		box-shadow: inset 0 0 0 1px @white, 0 3px 6px rgba(50, 50, 50, 0.50);
		border: 1px solid @light-gray;
		padding: 12px 5px 0px 5px;
		margin-bottom: 30px;
		.booking-status-heading {
			//#gradient > .vertical(@brand-accent-weak, @white);
			margin: -11px -4px 0px -4px;
			padding: 1px;
			text-align: center;
			h2 {
				background: @brand-main-color;
				font-size: 14px;
				width: 100%;
				height: 44px;
				padding-top: 12px;
				color: white;
				text-transform: uppercase;
				.brand-font-semi-bold;
				margin-bottom: 2px;
			}
			.total-cost-label {
				margin-top: 8px;
				color: @mid-dark-gray;
				margin-bottom: 5px;
			}
			.total-price {
				font-size: 30px;
				color: @brand-main-color;
				margin-bottom: 5px;
				.brand-font-bold;
			}
			.break-down {

			}
		}

		.accent-hr {
			border-color: @white;
			margin-bottom: 3px;
		} 

		.booking-status-sub-section {
			background-image: url("@{image-path}/h-divider.png");
			background-repeat: no-repeat;
			background-position: bottom center;
			p.transfer-text{
				line-height: 1.2;
			}
			&:last-child {
				background-image: none;
				margin-bottom: 10px;
				padding-bottom: 0px;
			}
			//border-bottom: 1px solid @mid-gray;
			padding-bottom: 20px;
			margin-bottom: 0px;
			.booking-status-sub-date-whole {
				font-size: 11px;
				background-color: @brand-mid-gray;
				color: @brand-main-color;
				padding: 7px 11px;
				margin-bottom: 7px;
				.brand-font-bold;
			}
			.booking-status-sub-date-split-left {
				position: relative;
				font-size: 11px;
				display: inline-block;
				width: 100px;
				background-color: @light-gray;
				color: @brand-main-color;
				margin-bottom: 7px;
				padding: 7px 11px;
				.brand-font-bold;
				&:before {
	                content: "";
	                display: block;
	                width: 0;
	                height: 0;
	                position: absolute;
	                top: 5px;
	                right: -23px;
	                border: 10px solid transparent;
	                border-left-color: #fff;
	                z-index: 1;
	            }
	            &:after {
	                content: "";
	                display: block;
	                width: 0;
	                height: 0;
	                position: absolute;
	                top: 5px;
	                right: -19px;
	                border: 10px solid transparent;
	                border-left-color: @light-gray;
	                z-index: 2;
	            }		
			}
			.booking-status-sub-date-split-right {
				font-size: 11px;
				text-align: right;
				display: inline-block;
				width: 100px;
				background-color: @brand-mid-gray;
				color: @brand-main-color;
				padding: 7px 11px;
				margin-bottom: 7px;
				.brand-font-bold;				
			}
			.booking-status-sub-title {
				color: @brand-main-color;
				font-size: 15px;
				line-height: 1;
				margin: 0px 0px 7px 0px;
				.brand-font;
				.fix-weight();
			}

			p {
				font-size: 11px;
				&.booking-status-airline {
					font-size: 12px;
					.brand-font-bold;
				}
			}

			.booking-status-sub-bold {
				.brand-font-bold;
			}

			.booking-status-sub-price-wrapper {
				.sub-price-wrapper;
			}
			p.sub-price{
				margin-bottom: 6px;
			}

			.booking-status-sub-edit {
				margin-top: 5px;
				text-align: right;
			}
		}
		h2 { 
			margin: 0; 

		}
		p {
			margin: 0;
			padding: 0;
		}
		a {
			font-size: 11px;
		}
	}
}

.booking-popups {
	// RIGHT HAND SIDE PANEL VIEW/EDIT LIGHTBOXES
	.lightbox.lightbox-rhs-view-edit {
		.lightbox-main-container {
			height: 360px;
			width: 620px;
			padding: 35px 30px 30px 30px;
			.lightbox-main-view-edit-container {
				.row {
					.col-rhs-image {
						height: 100px;
						width: 150px;
						padding-left: 0px;
						img {
							width: 100%;
						}
					}
					.col-rhs-detail {
						width: 390px;
						h2 {
							text-transform: none;
						}
						.hotel-rating {
							.icon-star, .icon-star-empty {
								color: @brand-accent-strong;
							}
						}
						.row {
							margin-top: 20px;
							.col-left {
								padding-left: 0px;
							}
							.col-right {
								padding-right: 0px;
							}
							.col-left, .col-right{
								width: 50%;
								p {
									font-size: 11px;
									margin-bottom: 0px;
								}
							}
						}
					}
				}
				.row-warning-box-large {
					border: 2px solid @mid-gray;
					margin-top: 20px;
					.col-warning-icon {
						padding: 10px 0px 0px 20px;
						width: 60px;
						span {
							font-size: 40px;
						}
					}
					.col-warning-body {
						padding: 10px 30px 0px 10px;
						width: 480px;
						p {
							font-size: 12px;
						}
						.col-left, .col-right {
							margin: 10px 0;
							width: 50%;
							padding: 0;
						}
						.col-right {
							text-align: right;
						}
					}
				}
			}
		}

		&.lightbox-rhs-cruise-view-edit {
			.lightbox-main-container {
				height: 340px;
			}
			.cruise-dates {
				margin-top: 5px;
				margin-bottom: 5px;
				text-transform: uppercase;
				font-size: 12px;
				color: @mid-dark-gray;
			}
			.cruise-ship, .cruise-itinerary {
				margin-top: 0px;
				margin-bottom: 5px;
				font-size: 11px;
				color: @mid-dark-gray;
				.cruise-detail-label {
					color: @dark-gray;
					.brand-font-bold;
				}
				.icon-caret-right {
					color: @brand-accent-strong;
				}
			}
		}

		&.lightbox-rhs-flights-view-edit {
			.lightbox-main-container {
				height: 320px;
			}
			.row {
				.col-out{
					width: 265px;
					margin-right: 10px;
				}
				.col-return{
					width: 265px;
					margin-right: 10px;
				}
				.col-out, .col-return {
					p{
						margin-bottom: 4px;
						font-size: 11px;
						line-height: 1;
					}
					p.flight-direction{
						font-size: 12px;
						.brand-font-bold;
						color: @brand-main-color;
					}
					.image-airline{
						float: left;
						margin-right: 4px;
					}
				}
			}

		}
	}
}
