/*! jQuery UI - v1.10.3 - 2013-08-12
* http://jqueryui.com
* Includes: jquery.ui.core.css, jquery.ui.datepicker.css
* Copyright 2013 jQuery Foundation and other contributors Licensed MIT */

	/* Layout helpers
	----------------------------------*/
	.ui-helper-hidden { 
		display: none;
	}
	.ui-helper-hidden-accessible {
		border: 0;
		clip: rect(0 0 0 0);
		height: 1px;
		margin: -1px;
		overflow: hidden;
		padding: 0;
		position: absolute;
		width: 1px;
	}
	.ui-helper-reset {
		margin: 0;
		padding: 0;
		border: 0;
		outline: 0;
		line-height: 1.3;
		text-decoration: none;
		font-size: 100%;
		list-style: none;
	}
	.ui-helper-clearfix:before,
	.ui-helper-clearfix:after {
		content: "";
		display: table;
		border-collapse: collapse;
	}
	.ui-helper-clearfix:after {
		clear: both;
	}
	.ui-helper-clearfix {
		min-height: 0; /* support: IE7 */
	}
	.ui-helper-zfix {
		width: 100%;
		height: 100%;
		top: 0;
		left: 0;
		position: absolute;
		opacity: 0;
		filter:Alpha(Opacity=0);
	}

	.ui-front {
		z-index: 100;
	}


	/* Interaction Cues
	----------------------------------*/
	.ui-state-disabled {
		cursor: default !important;
	}


	/* Icons
	----------------------------------*/

	/* states and images */
	.ui-icon {
		display: block;
		text-indent: -99999px;
		overflow: hidden;
		background-repeat: no-repeat;
	}


	/* Misc visuals
	----------------------------------*/

	.ui-datepicker-trigger{
		margin-left: 10px;
		cursor: pointer;
	}


	.booking-container .ui-datepicker-trigger{
		display: inline-block;
  		background-image: url("@{brand-image-path}/icon_calendar.png");
  		//background: yellow;
  		width: 32px; /* Width of new image */
  		height: 30px; /* Height of new image */
  		padding-left: 32px; /* Equal to width of new image */
	}

	.ui-datpicker-header {
		color: @mid-gray;  
	    font-weight: bold;
	}

	.ui-state-default{
		background: @light-gray;
		color: @brand-main-color;
	}

	.ui-state-hover{
		background: @brand-labels;
		color: @white;
	}



	/* Overlays */
	.ui-widget-overlay {
		position: fixed;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
	}
	.ui-datepicker {
		width: 17em;
		padding: .2em .2em 0;
		display: none;
		background: @white;
		border: solid @brand-labels 3px;
		.border-radius(10px);
		margin-top: 010px;
	}
	.ui-datepicker .ui-datepicker-header {
		position: relative;
		padding: .2em 0;
		color: @mid-gray;
	}
	.ui-datepicker .ui-datepicker-prev,
	.ui-datepicker .ui-datepicker-next {
		position: absolute;
		top: -2px;
		width: 1.8em;
		height: 1.8em;
		color: @brand-main-color;
	    font-family: FontAwesome;
	    font-style: normal;
	    font-weight: normal;
	    text-decoration: inherit;
	    position: relative;

	}
	.ui-datepicker .ui-datepicker-prev-hover,
	.ui-datepicker .ui-datepicker-next-hover {
		color: @brand-labels;
		cursor: pointer;
	}
	.ui-datepicker .ui-datepicker-prev {
		left: 10px;
	}

	 
	/*replace the content value with the 
	corresponding value from the list below*/

	 
	.ui-datepicker .ui-datepicker-prev:before {
	    content: "\f104"; 
	/*--adjust as necessary--*/
	    font-size: 18px;
	    padding-right: 0.5em;
	    position: absolute;
	    top: 10px;
	    left: 0;
	}

	.ui-datepicker .ui-datepicker-next {
		//right: 2px;
	}

	.ui-datepicker .ui-datepicker-next:before {
	    content: "\f105"; 
	/*--adjust as necessary--*/
	    font-size: 18px;
	    padding-right: 0.5em;
	    position: absolute;
	    top: 10px;
	    left: 190px;
	}


	.ui-datepicker .ui-datepicker-prev-hover {
		//left: 1px;
	}
	.ui-datepicker .ui-datepicker-next-hover {
		//right: 1px;
	}
	.ui-datepicker .ui-datepicker-prev span,
	.ui-datepicker .ui-datepicker-next span {
		display: block;
		position: absolute;
		left: 50%;
		margin-left: -8px;
		top: 50%;
		margin-top: -8px;
	}
	.ui-datepicker .ui-datepicker-title {
		margin: 0 2.3em;
		line-height: 1.8em;
		text-align: center;
	}
	.ui-datepicker .ui-datepicker-title select {
		//font-size: 1em;
		//margin: 1px 0;
	}


	.ui-datepicker select.ui-datepicker-month,
	.ui-datepicker select.ui-datepicker-year {
       //background: url(../../images/css/bg-select-replaced.png) no-repeat right center;
       border: 1px solid @mid-gray;
       //-webkit-appearance: none;
       //-moz-appearance: none;
       //-webkit-border-radius: 0;
       //appearance: none;
       border-radius: 0;
       padding: 2px 2px 2px 6px;
       width: 70px;
       height: 26px;
       line-height: 1.4;
       cursor: pointer;
	}
	.ui-datepicker select.ui-datepicker-month{
		margin-right: 7px;
	}

	.ui-datepicker table {
		width: 100%;
		font-size: .9em;
		border-collapse: collapse;
		margin: 0 0 .4em;
	}
	.ui-datepicker th {
		padding: .7em .3em;
		text-align: center;
		font-weight: bold;
		border: 0;
	}
	.ui-datepicker td {
		border: 0;
		padding: 1px;
	}
	.ui-datepicker-calendar a{
		color: @brand-main-color;
		&:hover{
			color: @white;
			.brand-font-bold;
		}
	}

	input.datepicker{
		
	}

	.ui-datepicker td span,
	.ui-datepicker td a {
		display: block;
		padding: .2em;
		text-align: right;
		text-decoration: none;
	}
	.ui-datepicker .ui-datepicker-buttonpane {
		background-image: none;
		margin: .7em 0 0 0;
		padding: 0 .2em;
		border-left: 0;
		border-right: 0;
		border-bottom: 0;
	}
	.ui-datepicker .ui-datepicker-buttonpane button {
		float: right;
		margin: .5em .2em .4em;
		cursor: pointer;
		padding: .2em .6em .3em .6em;
		width: auto;
		overflow: visible;
	}
	.ui-datepicker .ui-datepicker-buttonpane button.ui-datepicker-current {
		float: left;
	}

	/* with multiple calendars */
	.ui-datepicker.ui-datepicker-multi {
		width: auto;
	}
	.ui-datepicker-multi .ui-datepicker-group {
		float: left;
	}
	.ui-datepicker-multi .ui-datepicker-group table {
		width: 95%;
		margin: 0 auto .4em;
	}
	.ui-datepicker-multi-2 .ui-datepicker-group {
		width: 50%;
	}
	.ui-datepicker-multi-3 .ui-datepicker-group {
		width: 33.3%;
	}
	.ui-datepicker-multi-4 .ui-datepicker-group {
		width: 25%;
	}
	.ui-datepicker-multi .ui-datepicker-group-last .ui-datepicker-header,
	.ui-datepicker-multi .ui-datepicker-group-middle .ui-datepicker-header {
		border-left-width: 0;
	}
	.ui-datepicker-multi .ui-datepicker-buttonpane {
		clear: left;
	}
	.ui-datepicker-row-break {
		clear: both;
		width: 100%;
		font-size: 0;
	}

	/* RTL support */
	.ui-datepicker-rtl {
		direction: rtl;
	}
	.ui-datepicker-rtl .ui-datepicker-prev {
		right: 2px;
		left: auto;
	}
	.ui-datepicker-rtl .ui-datepicker-next {
		left: 2px;
		right: auto;
	}
	.ui-datepicker-rtl .ui-datepicker-prev:hover {
		right: 1px;
		left: auto;
	}
	.ui-datepicker-rtl .ui-datepicker-next:hover {
		left: 1px;
		right: auto;
	}
	.ui-datepicker-rtl .ui-datepicker-buttonpane {
		clear: right;
	}
	.ui-datepicker-rtl .ui-datepicker-buttonpane button {
		float: left;
	}
	.ui-datepicker-rtl .ui-datepicker-buttonpane button.ui-datepicker-current,
	.ui-datepicker-rtl .ui-datepicker-group {
		float: right;
	}
	.ui-datepicker-rtl .ui-datepicker-group-last .ui-datepicker-header,
	.ui-datepicker-rtl .ui-datepicker-group-middle .ui-datepicker-header {
		border-right-width: 0;
		border-left-width: 1px;
	}

