.booking-container{
	// FACTOR OUT?
	.offers-banner{
		background: @brand-box-promotion;
		padding: 4px 4px 4px 30px;
		margin-left: 10px;
		margin-top: 14px;
		margin-bottom: 14px;
		font-size: 13px;
		color: @brand-main-color;
		border: @mid-gray 1px solid;
		position: relative;
		display: block;
		width: 950px;
		.roset{
			position: absolute;
			top:-6px;
			left: -13px;
			width: 37px;
			height: 37px;
			background-image: url("@{brand-image-path}/icon_offers_roset.png");
		}
		a{
			text-decoration: none;
			border-bottom: dotted @brand-main-color 1px;
			color: @brand-main-color;
		}
	}

	.stateroom-selection-continue{
		margin-top: 10px;
		padding: 10px;
		color: @brand-main-color;
		font-size: 11px;
		& a{
			font-size: 11px;
			color: @brand-main-color;
		}
		.button{
			margin-left: 10px;
		}
	}

	.stateroom-type-selection-wrapper{
		background: @brand-mid-gray;
		.keyline-border();
		padding: 9px;
		.room-type-selector-wrapper{
			margin: 0;
			padding: 0;
			width: 290px;
			display: block;
			float: left;

			//background: yellow;
			position: relative;
		}

		ul.room-type-selector{
			margin: 0;
			padding: 0;
			width: 340px;
			display: block;
			position: relative;
			top: 0;
			left: 0;
			z-index: 1;
			//background: green;
			li{
				.clearfix();
				cursor: pointer;
				margin-bottom: 0;
				padding-bottom: 0;
			}
			.room-type-image-wrapper{
				float: left;
				width: 114px;
				height: 68px;
				border-top: 2px white solid;
				border-bottom: 2px white solid;
				border-left: 2px white solid;
				overflow: hidden;
			}

			img{
				width: 100%;
				//max-width: none;
				//height: 66px;
			}
			.room-type-wrapper{
				float: left;
				width: 178px;
				height: 64px;
				//background: yellow;
				padding: 10px 0px 0px 20px;
				p.room-type{
					text-transform: uppercase;
					.brand-font-bold;
					font-size: 14px;
					margin-bottom: -3px;
					color: @mid-dark-gray;
				}
				p.room-type-pricing{
					.brand-font;
					font-size: 13px;
					color: @mid-dark-gray;
				}
			}
			.room-type-selected-arrow{
				float: left;
				display: block;
				width: 30px;
				height: 70px;
			}

			.selected{
				.room-type-image-wrapper{
					border-top: 2px @white solid;
					border-bottom: 2px @white solid;
					border-left: 2px @white solid;
					.box-shadow(0 1px 1px 0 @mid-gray);
				}
				.room-type-wrapper{
					.box-shadow(0 1px 1px 0 @mid-gray);
					border-top: 2px @white solid;
					border-bottom: 2px @white solid;
					padding: 10px 0px 0px 18px;
					width: 176px;
					height: 68px;
					background: @brand-accent-strong;
					background: @brand-accent-strong url("@{brand-image-path}/room-type-select-back.png") repeat-x;

				}
				& p.room-type-pricing, & p.room-type{
					color: @brand-main-color;
				}
				.room-type-selected-arrow{

					background-image: url("@{brand-image-path}/room-type-select-arrow.png");
					background-position: top left;
					background-repeat: no-repeat;
				}
			}
		}
		.room-type-details-wrapper{
			.room-type-details{
				.hide;
				float: left;
				width: 650px;
				height: 416px;
				//background: yellow;
				position: relative;
				.room-type-images{
					position: relative;
					float: left;
					ul.room-type-image-selector{
						position: absolute;
						bottom: 0px;
						z-index: 5;
						background: @mid-gray;
						background: rgba(0, 0, 0, 0.3);
						width: 650px;
						padding:0;
						margin: 0;
						.clearfix();
						li{
							margin: 5px 0 5px 5px;
							padding: 0;
							border: 3px solid @white;
							float: left;
							cursor: pointer;
							width: 90px;
							height: 50px;
							overflow: hidden;
							img{
								width: 100%;
								//max-width: none;
								height: 50px;
								//height: 50px;
							}
						}
					}
					.room-type-images-main-image{
						width: 420px;
						//height: 378px;
						height: 416px;
						overflow: hidden;
						 img{
							.hide;
							//width: 100%;
							max-width: none;
							//height: 400px;
							//height: 380px;
							height: 420px;
						}
					}
				}
				.room-type-features{
					//float: left;
					position: absolute;
					top: 0;
					right: 0;
					z-index: 10;
					background: @brand-mid-gray;
					//background: rgba(red(@brand-accent-weak), green(@brand-accent-weak), blue(@brand-accent-weak), 0.93);
					width: 240px;
					padding: 10px;
					height: 100%;
					.brand-font;
					font-size: 12px;
					color: @dark-gray;
					p.room-type-features-header{
						color: @brand-main-color;
						text-transform: uppercase;
						font-size: 12px;
						.brand-font-bold;
					}
					li {
						.list-style-color(@brand-accent-strong)
					}
				}
			}
		}
	}

// PAGE 2-0-0b
}