.booking-container{

// PAGE 1-0-0



	.cruise-search-again {
		.clearfix;
		margin-top: -20px;
		margin-bottom: 10px;
		a {
			.booking-container .button.button-secondary;
			float: right;
			.icon-caret-down, .separator {
				display: none;
			}
			&.link-semi-dark:hover {
				text-decoration: none;
			}
		}
	}

	.cruise-results-filter{
		background: white;
		padding: 15px 9px 10px 9px;
		margin-bottom: 30px;
		.keyline-border();
		label{
			color: @brand-labels;
		}
		.field-container-destination, .field-container-departure-from, .field-container-departure-port, .field-container-duration, .field-container-ship {
			.brand-font-bold;
		}

    	.field-container-departure-from, .field-container-departure-to {
    		select {
    			width: 190px;
    		}
    	}
    	.field-container-duration, .field-container-ship, .field-container-departure-port, .field-container-destination, .field-container-budget, .field-container-cabin-type {
    		select {
    			width: 210px;
    		}
    	}
    	.field-container-more-options {
    		padding-top: 30px;
    		.brand-font-bold;
    	}
    	.field-container-departure-flex {
    		padding-top: 30px;
    		position: relative;
    		label{
    			width: 140px;
    		}

    	}

		.field-container{
			float: left;
			width: 220px;
			margin-right: 20px;
			margin-bottom: 12px;
			position: relative;
			&:last-child{
				margin-right: 0px;
			}
		}
		.to-label{
			position: relative;
			width: 25px;
			top: 30px;
			left: -33px;
		}

	}

	.label-sort-by, .filter-sort-by{
		float: left;
		margin-right: 10px;
	}
	.filter-sort-by{
		position: relative;
		top: -6px;
		width: 230px;
	}

	.cruise-result{
		border-top: dotted 1px @brand-mid-gray;
		padding: 20px 0 25px 0;
		.col-cruise-result-image{
			float: left;
			padding: 0px 0px 0px 0px;
			width: 180px;
			img {
				max-width: 100%;
			}
		}
		.col-cruise-result-duration{
			float: left;
			width: 70px;
			margin: 0;
			padding-right: 0px;
			padding-left: 0px;
			text-align: center;
			.nights-number{
				font-size: 44px;
				.brand-font-semi-bold;
				color: @brand-main-color;
				margin: -6px 0 0 0;
				padding: 0px;
				line-height: 1;

			}
			.nights{
				font-size: 12px;
				.brand-font-bold;
				color: @brand-main-color;
				margin: -4px 0 0 0;
				padding: 0px;
			}
		}
		.col-cruise-result-detail{
			float: left;
			width: 340px;
			margin-right: 30px;
			padding-left: 0px;
			h3{
				line-height: 1;
				padding: 0px;
				margin: 0px;
				font-size: 18px;
				color: @brand-main-color;
			}
			.cruise-dates {
				margin-top: 5px;
				margin-bottom: 5px;
				text-transform: uppercase;
				font-size: 12px;
				color: @mid-dark-gray;
			}
			.cruise-ship, .cruise-itinerary {
				margin-top: 0px;
				margin-bottom: 5px;
				font-size: 11px;
				color: @mid-dark-gray;
				.cruise-detail-label {
					color: @dark-gray;
					.brand-font-bold;
				}
				.icon-caret-right {
					color: @brand-accent-strong;
				}
			}
			.cruise-ship{
				margin-top: 5px;
			}
			ul {
				margin-left: 0;
				.clearfix;
				margin-top: 5px;
				li {
					float: left;
					padding-right: 20px;
					a {
						font-size: 11px;
						.brand-font-semi-bold;
						&.link-itinerary {
							.icon-caret-down, .icon-caret-up {
								position: relative;
								top: 0px;
								margin-left: 2px;
								padding: 1px 4px;
								background: @brand-accent-strong;
								-webkit-border-radius: 3px;
								-moz-border-radius: 3px;
								border-radius: 3px;
								color: #ffffff;
							}
						}
					}
				}
			}
		}
		.col-cruise-result-price {
			float: left;
			width: 340px;
			padding: 0px;
			.cruise-price-from {
				color: @brand-main-color;
				margin-top: 0px;
				margin-bottom: 0px;
				.brand-font-bold;
			}
			.cruise-price-holder {
				.clearfix;
				margin-bottom: 10px;
				.cruise-price {
					.brand-font-bold;
					font-size: 30px;
					float: left;
					padding: 0px;
					margin: 0px;
					line-height: 1;
					color: @brand-main-color;
				}
				.price-date-wrapper {
					.hide;
				}
				.price1{
					display: inline;
				}
				.cruise-info {
					float: left;
					padding-top: 2px;
					margin-left: 10px;
					.clearfix;
					.brand-font-bold;
					.cruise-info-guest-count {
						//float: left;
						color: @brand-main-color;
						padding: 0px;
						margin: 0px;
						line-height: 1;
					}
					.cruise-info-guest-cost {
						padding: 0px;
						margin: 0px;
						line-height: 1;
						color: @mid-dark-gray;
					}
					p {
						font-size: 10px;
					}
				}
				.cruise-whats-included {
					float: right;
					font-size: 11px;
					color: @mid-dark-gray;						
					font-size: 11px;
					//.brand-font-semi-bold;
				}
			}
		}
		.icon-box-corner {
			position: absolute;
			top: 1px;
			right: 1px;
			width: 0px;
			height: 0px;
			border-top: 4px solid @brand-box-corner;
			border-right: 4px solid @brand-box-corner;
			border-bottom: 4px solid transparent;
			border-left: 4px solid transparent;
		}
		
		.cruise-date-selector {
			position: relative;

			.more-dates-panel{
				position: absolute;
				z-index: 9000;
				top: 3px;
				right: 0px;
				width: 340px;
				.hide();
				
				.more-dates-panel-header{
					.clearfix();
					.more-dates-panel-close{
						position: relative;
						z-index: 9003;
						.text-center;
						padding-top: 15px;
						width: 95px;
						height: 44px;
						.pull-right;
						background: @white;
						border-top: solid 1px @mid-gray;
						border-left: solid 1px @mid-gray;
						border-right: solid 1px @mid-gray;
						border-bottom: 1px solid @white;
						.brand-font-semi-bold;
						font-size: 12px;
						color: @mid-dark-gray;
						cursor: pointer;
					}
				}
				.date-box-wrapper{
					position: relative;
					top: -1px;
					z-index: 9002;
					border: solid 1px @mid-gray;
					background: @white;
					padding: 10px;
					.clearfix();
					.more-dates-year-row{
						float: left;
						width: 300px;

					}
					.more-dates-year-row{
						margin-top: 10px;
						.brand-font-bold;

					}
					.date-box{
						cursor: pointer;
						float: left;
						width: 74px;
						height: 36px;
						padding: 2px 1px;
						margin: 3px 2px;
						text-align: center;
						border: 1px solid @mid-gray;
						border-width: 1px 1px 3px 1px;
						#gradient > .vertical(@white, @light-gray);
						&:hover{
							border: 1px solid @brand-main-color;
							border-width: 1px 1px 3px 1px;
							p{
								color: @brand-main-color;
							}
						}
						.date-box-value{
							border-bottom: 1px solid @white;
							margin-bottom: 5px;
							display: block;
						}
						p{
							font-size: 11px;
							color: @mid-dark-gray;
							.brand-font-semi-bold;
							line-height: 1.3;
							margin-bottom: 1px;
							&.date-box-date{
								.brand-font-bold;
							}
						}
					}
				}
			}
			.clearfix;
			margin-bottom: 10px;
			border-top: 2px solid @brand-accent-strong;
			&.cruise-more-dates {
				width: 89px;
			}
			.cruise-date {
				float: left;
				font-size: 11px;
				color: @mid-dark-gray;
				width: 44px;
				height: 35px;
				padding: 2px 2px;
				margin: 3px 1px;
				text-align: center;
				border: 1px solid @mid-gray;
				border-width: 1px 1px 3px 1px;
				position: relative;
				.brand-font-bold;
				.icon-caret-up {
					display: none;

				}
				&:hover{
					border: 1px solid @brand-main-color;
					border-width: 1px 1px 3px 1px;
					color: @brand-main-color;
				}
				&:first-child{
					margin-left: 0px;
				}

				&.cruise-lowest-price {
					margin-right: 6px;
					width: 105px;
					
					

					.clearfix;
					.cruise-date-value, .cruise-lowest-price-label {
						float: left;
					}
					.cruise-date-value {
						width: 48px;
						border-right: 1px dotted @white;
					}
					.cruise-lowest-price-label {
						width: 50px;
						line-height: 1.3;
						border-bottom: 1px solid @white;
					}
				}
				&.cruise-date-unselected {
					#gradient > .vertical(@white, @light-gray);
				}
				&.cruise-date-select-button {
					cursor: pointer;
				}
				&.cruise-more-dates {
					cursor: pointer;
					#gradient > .vertical(@white, @light-gray);
					color: @brand-main-color;
					width: 89px;
					padding-top: 15px;

					&:hover{
						color: @brand-main-color;
					}

				}
				&.cruise-date-selected {
					position: relative;
					background-color: @brand-accent-strong;
					height: 38px;
					padding-top: 6px;
					margin-top: 0px;
					border: 0px;
					color: @brand-main-color;
					.icon-caret-up {
						display: inline;
						color: @brand-accent-strong;
						position: absolute;
						font-size: 20px;
						left: 0px;
						right: 0px;
						top: -15px;
					}
				}
				.cruise-date-value, .cruise-more-dates-link {
					line-height: 1.3;
					border-bottom: 1px solid @white;
					margin-bottom: 5px;
					display: block;
				}
			}
		}
		.cruise-box-promotion {
			padding: 5px 10px 5px 5px;
			max-width: 130px;
			background-color: @brand-box-promotion;
			border: 1px solid @light-gray;
			position: relative;
			float: left;
			p {
				margin: 0;
				font-size: 10px;
				line-height: 1;
				text-transform: uppercase;
				color: @brand-main-color;
				.brand-font-semi-bold;
			}
		}
	}

		// TAB CONTROL 
	.tab-expander {
		.expander-open-link {
			display: none;
		}
		&.tab-expander-active {
			.expander-open-link {
				display: inline;
			}
			.expander-closed-link {
				display: none;
			}
		}
	}

	.tabbed{
		width: 100%;
		
		.tabbed-tabs{
			.tab-shadow-left{
				background-image: url("@{image-path}/tab-shadow-left.png");
				background-position: right bottom;
			}
			.tab-shadow-right{
				background-image: url("@{image-path}/tab-shadow-right.png");
				background-position: left bottom;
			}
			position:relative;
			z-index: 90;
			.clearfix;
			//background: green;
			margin: 0;
			padding: 0;
			line-height: 0;
			background-image: url("@{image-path}/tab-shadow-top.png");
			background-repeat: no-repeat;
			background-position: center bottom;
			.email-itinerary{
				display: block;
				position: absolute;
				//background: yellow;
				width: 200px;
				//height: 100px;
				top: 8px;
				left: 11px;
				line-height: 1;
				a{
					.brand-font-semi-bold;
					font-size: 11px;
					color: @mid-dark-gray;
					text-decoration: none;
					&:hover{
						text-decoration: underline;
					}
				}
			}
			.tabbed-tabs-left-shadow, .tabbed-tabs-right-shadow{
				background: white;
				display: block;
				float: left;
				height: 30px;
				width: 20px;
				margin: 0 0 0 0;
				padding: 0;
				background-repeat: no-repeat;
			}
			.tabbed-tabs-left-shadow{
				margin-left: 220px;
				.tab-shadow-left;
			}
			.tabbed-tabs-right-shadow{
				.tab-shadow-right;
			}
			ul{
				display: block;
				float: left;
				//.clearfix;
				margin: 0;
				padding: 0;
				//background: blue;
			}
			li{
				margin: 0;
				cursor: pointer;
				padding: 10px 10px 0px 10px;
				float:left;
				display: block;
				height: 30px;
				font-size: 12px;
				.brand-font-bold;
				line-height: 1;
				background: @white;
				background-repeat: no-repeat;

			}
			.tab-selected{
				margin-bottom: -1px;
				border: 1px solid @mid-gray;
				border-bottom: 1px solid white;
				color: @brand-main-color;
				background: @white;
				height: 31px;
			}
		}
		.tabbed-content{
			border: 1px solid @mid-gray;
			padding: 40px 10px 20px 10px;
			margin-bottom: 30px;
			position: relative;
			z-index: 80;
			.tabbed-close{
				position: absolute;
				top: 10px;
				right: 10px;
				color: @mid-dark-gray;
				font-size: 11px;
				.brand-font-semi-bold;
				cursor: pointer;
				.icon-remove-sign{
					cursor: pointer;
					display: inline-block;
					margin-left: 8px;
					color: @mid-dark-gray;
					line-height: 1;
					font-size: 15px;
				}
			}
		}
	}
}

.booking-popups {
	#popup-stateroom {
		width: 275px;
		padding-right: 20px;
	}
	.popup-included{
		width: 600px;
		ul{
			width: 180px;
			display: block;
			//background: yellow;
			float: left;
			list-style: none;
			padding: 0;
			margin: 0 10px 10px 0;
			li{
				line-height: 1.1;
				margin-bottom: 3px;
				.included-small{
					font-size: 10px;
				}
			}
		}
		.included-links li{
			margin-bottom: 6px;
		}
	}
	#lightbox-search-again {
		.lightbox-main-container {
			background-color: @light-gray;
			padding: 30px 20px 10px 20px;
			width: 600px;
			height: 300px;
			form {
				.col-left, .col-right {
					label, .label {
						color: @brand-main-color;
						font-size: 13px;
					}					
				}
				.col-left {
					width: 60%;
					.row {
						margin-bottom: 10px;
						label {
							display: block;
							clear: both;
						}
						.field-container {
							width: 140px;
							float: left;
							padding-right: 10px;
							&:last-child {
								padding-right: 0px;
							}
							&.field-container-destination {
								width: 210px;
							}
						}
					}
				}
				.col-right {
					width: 40%;
					.field-container {
						padding-left: 10px;
					}
				}
			}
		}
	}
}