.booking-container{

// PAGE 4-0-0
	.link-search-again{
		a {
			.booking-container .button.button-secondary;
			float: right;
			.icon-caret-down {
				display: none;
			}
			&.link-semi-dark:hover {
				text-decoration: none;
			}
		}
		margin-top: 10px;
		margin-bottom: 5px;
	}
	.flights-wrapper{
		background: white;
		.keyline-border();
		padding-top: 20px;
		padding-bottom: 0px;
		margin-bottom: 30px;
		h3{
			color: @brand-main-color;
			font-size: 18px;
			.brand-font-semi-bold;
		}
		.col-1{
			position: relative;
			float: left;
			width: 350px;
			padding: 0 0px 0 20px;
		}
		.col-2{
			position: relative;
			padding: 0 20px 0 20px;
			width: 100%;
		}
		select, input[type="text"]{
			width: 320px;
		}
		label{
			.brand-font-bold;
		}
		.flight-cabin-class-select{
			.pull-left;
			margin-top: 10px;
			width: 100px;
			label{
				width: 40px;
				.brand-font;
				color: @dark-gray;
			}
		}
		.flight-contact-num{
         .brand-font-semi-bold;
         font-size: 36px;
         color: @brand-main-color;
		}

		.flight-contact-num-or{
			position: absolute;
			right: -20px;
			top: 30px;
		}

	}
	.flight-search-results{
		margin-bottom: 30px;
		& h1{
			margin-bottom: 0px;
		}
		.flight-search-results-header{

			.field-container{
				float: left;
				width: 210px;
				margin-left: 20px;
				margin-bottom: 20px;
				position: relative;
				&:last-child{
					margin-right: 0px;
				}
				select, input[type="text"]{
					width: 200px;
				}
			}
		}		
		.non-stop-wrapper{
			margin-top: 30px;
			label {
				.brand-font;
			}
		}

		.flight-search-result{
			a{
				font-size: 11px;
			}
			border-top: 1px dotted @mid-gray;
			padding-top: 20px;
			padding-bottom: 20px;
			.col-out{
				width: 265px;
				margin-right: 10px;
			}
			.col-return{
				width: 265px;
				margin-right: 10px;
			}
			.col-price{
				width: 170px;
				p.flight-search-result-non-refund{
					color: @mid-dark-gray;
					.text-right;
					margin-right: 20px;
					font-size: 10px;
				}
			}
			p{
				margin-bottom: 4px;
				font-size: 11px;
				line-height: 1;
			}
			p.flight-direction{
				font-size: 12px;
				.brand-font-bold;
				color: @brand-main-color;
			}
			.image-airline{
				float: left;
				margin-right: 4px;
			}
		}
		p.flight-search-result-price{
			font-size: 30px;
			.brand-font-bold;
			color: @brand-main-color;	
			margin-top: 10px;
			margin-bottom: 10px;	
		}

	}

}

.booking-popups{
	.popup-explanation.popup-explaination-multiple-stops {
		width: 586px;
		padding: 30px 30px 10px 30px; 
		.row{
			.clearfix;
			.col-left{
				width: 280px;

				float: left;
				padding-left: 0px;
				margin-right: 10px;
			}
			.col-right{
				width: 220px;
				float: left;
			}
		}
		.image-airline{
			float: left;
			margin-right: 4px;
			margin-bottom: 20px;
		}
		p{
			line-height: 1.1;
			margin-bottom: 2px;
			font-size: 11px;
		}
		.flight-stop-subhead{
			//background: yellow;
			margin-top: 10px;
			padding-bottom: 20px;
			margin-bottom: 10px;
			background-image: url("@{image-path}/flight-divider.png");
			background-repeat: no-repeat;
			background-position: bottom center;
			.flight-stop-subhead-stop{
				.brand-font-bold;
				color: @brand-main-color;
				margin-right: 10px;
			}
		}

	}
}