.booking-container{

// PAGE 3-0-0
	.hotels-wrapper {
      // MUCH OF THIS COPIED FROM PAGE 4. CANDIDATE FOR REFACTOR.
      .keyline-border();
      background: white;
      h3{
         color: @brand-main-color;
         font-size: 18px;
         .brand-font-semi-bold;
      }
      .col-1{
         position: relative;
         float: left;
         width: 350px;
         padding: 0 0px 0 20px;
      }
      .col-2{
         position: relative;
         padding: 0 20px 0 20px;
         width: 100%;
      }
      select, input[type="text"]{
         width: 320px;
      }
      label{
         .brand-font-bold;
      }
      .hotels-cabin-class-select{
         .pull-left;
         margin-top: 10px;
         width: 100px;
         label{
            width: 40px;
         }
      }
      .hotels-contact-num{
         .brand-font-semi-bold;
         font-size: 36px;
         color: @brand-main-color;
      }

      .hotels-contact-num-or{
         position: absolute;
         right: -20px;
         top: 30px;
      }

		//background: @brand-mid-gray;
		padding-top: 20px;
		padding-bottom: 0px;
		margin-bottom: 30px;
		.row-headings, .row-same-cruise {
			margin-bottom: 15px;
         .col-same-cruise {
            input, label {
               float: left;
            }
            label {
               .brand-font;
               color: @dark-gray;
            }
         }
		}
		.row-same-cruise {
			input {
				margin: 3px 5px 0px 0px;
			}
		}
		h3{
			color: @brand-main-color;
			font-size: 18px;
			.brand-font-semi-bold;
		}
		.col-1{
			position: relative;
			float: left;
			width: 350px;
			padding: 0 0px 0 20px;
		}
		.col-2{
			position: relative;
			padding: 0 20px 0 20px;
			width: 100%;
		}
		select, input[type="text"]{
			width: 275px;
		}
		.field-container-before-nights, .field-container-after-nights {
			width: 175px;
		}
		.col-before, .col-after {
			position: relative;
			select {
				width: 100px;
			}
			.field-container {
				float: left;
			}
		}
		.form-controls {
			margin-top: 20px;
		}
	}

	.hotel-listings-hotel-search-results {
		h1 {
         margin-bottom: 0px;
			.header-append {
				.brand-font;
				font-size: 13px;
			}
		}
		.hotel-results-filter{
			background: @white;
         .keyline-border();
			padding: 15px 0px 0px 0px;
			margin-right: 10px;
			margin-bottom: 20px;
			position: relative;

			.field-container-change-hotel, .field-container-find-a-hotel {
				select, input {
					width: 220px;
				}
			}
			.field-container-find-a-hotel {
				width: 240px;
			}
			.field-container-star-rating {
				select {
					width: 140px;
				}
			}
			.field-container{
				float: left;
				width: 230px;
				margin: 0px 0px 20px 10px;
				position: relative;
				label {
               .brand-font-bold;
				}
				&:last-child{
					margin-right: 0px;
				}
			}
			.to-label{
				position: relative;
				top: 30px;
				left: -33px;
			}
		}
   } 

   .hotel-result {
      border-top: dotted 1px @brand-mid-gray;
      padding: 35px 0 10px 0;
      .hotel-image-wrapper{
         display: block;
         width: 140px;
         height: 100px;
         overflow-y: hidden;
         img{
            width: 140px;
         }
      }

      h3{
         line-height: 1;
         padding: 0px;
         margin: 0px;
         font-size: 20px;
         color: @brand-main-color;
      }
      .non-refundable {
         font-size: 11px;
         color: @mid-dark-gray;
         position: absolute;
         top: 5px;
         right: 0px;
      }
      .col-hotel-result-detail {
         width: 330px;
         .hotel-rating {
            margin-top: 5px;
            color: @brand-accent-strong;
         }
         p {
            margin-top: 5px;
            &.hotel-more-info {
               margin-top: 20px;
               .expander-open-link {
                  display: none;
               } 
            }
         }
      }
      .col-hotel-result-price {
         text-align: center;
         width: 230px;
         .hotel-price {
            .brand-font-bold;
            font-size: 30px;
            padding: 0px;
            margin: 10px 0px 0px 0px;
            line-height: 1;
            color: @brand-main-color;
         }
         .hotel-price-detail {
            font-size: 11px;
            margin-top: 5px;
            line-height: 1.4;
         }
      }
   }

   .hotel-info {
      margin-bottom: 30px;
      .hotel-info-images-container, .hotel-info-description, .hotel-info-location, .hotel-info-room-types {
         .clearfix;
         padding: 0px 10px;
         margin-top: 20px;
         h3 {
            text-transform: uppercase;
            font-size: 12px;
            color: @brand-main-color;
            border-bottom: 1px solid @mid-gray;
         }
      }
      .hotel-info-images-container {
         div {
            float: left;
            height: 50px;
            margin-right: 10px;
            position: relative;
            text-align: bottom;
            p {
               position: absolute;
               bottom: 0px;
               margin: 5px 0px 0px 0px;
               width: 120px;
            }
            &.hotel-info-image-wrapper {
               width: 80px;
               overflow-y: hidden;
               img{
                  width: 80px;
               }
            }
         }
      }
      .hotel-info-room-types {
         table {
            width: 700px;
            tr {
               th {
                  text-align: left;
                  vertical-align: bottom;
                  &.total-price {
                     text-align: center;
                     .total-price-breakdown {
                        display: block;
                        font-size: 11px;
                     }
                  }
               }
               td, th {
                  padding: 7px;
                  &.room-type {
                     width: 220px;
                  }
                  &.board-type {
                     width: 140px;
                  }
                  &.rate-per-night {
                     text-align: center;
                  }
                  &.total-price {
                     text-align: center;
                     input, label {
                        display: inline;
                        float: none;
                     }
                     input {
                        margin-right: 10px;
                     }
                     label {
                        display: inline-block;
                        text-align: left;
                        width: 65px;
                     }
                  }
               }
               &.active {
                  td {
                     background-color: #e8ecf0;
                     color: @brand-main-color;
                     .brand-font-bold;
                     label {
                        color: @brand-main-color;
                     }
                  }
               }
            }
         }
         .form-controls {
            float: right;
            margin: 0 -10px;
            width: 230px;
            margin-top: 10px;
            text-align: center;
         }
      }
   }

   .button-skip-hotels-container {
      margin-top: 30px;
      text-align: center;
   }




}

.booking-popups {
}