.booking-container{


// PAGE 7-0-0

	.transfer-stage{
		margin-bottom: 20px;
		padding-bottom: 20px;
		border-bottom: solid 1px @mid-gray;
		h3{
			font-size: 13px;
			.brand-font-bold;
			color: @brand-main-color;
			letter-spacing: 0px;
			line-height: 1.1;
			margin-bottom: 16px;
		}
		.transfer-details, label, .transfer-method-price{
			display: inline-block;
		}
		.transfer-details{
			width: 120px;
		}
		label{
			width: 150px;
			color: @mid-dark-gray;
		}
		.transfer-method-price{
			.brand-font-semi-bold;
		}
		&:last-child{
			border-bottom: 0px;
		}
	}
	.package-additions{
		text-align: right;
		margin-bottom: 30px;
		.package-additions-summary{
			.brand-font-semi-bold;
			color: @brand-main-color;
			font-size: 20px;
			.package-additions-price{
				display: inline-block;
				margin-left: 30px;
			}
		}
	}
	.dinning-options, .gratuity-options{
		margin-bottom: 30px;
		input{
			margin-left: 10px;
		}
		label{
			width: 660px;
			color: @mid-dark-gray;
		}
		p{
			margin-bottom: 24px;
		}
	}
	.gratuity-options{
		padding-bottom: 30px;
		margin-bottom: 20px;
		border-bottom: 1px @brand-main-color solid;
		h3{
			font-size: 15px;
		}
		label{
			color: @mid-dark-gray;
		}
	}



}

.booking-popups{
	#popup-prepaid-gratuities{
		p{
			margin-bottom: 12px;
		}
	}
}