.booking-container{


// PAGE 9-0-0

	.itemised-pricing-wrapper{
		margin-bottom: 30px;
		//background: yellow;
		.package-element{		
			h3{
				font-size: 18px;
				.brand-font-semi-bold;
				margin-bottom: 10px;
			}
			.question-mark-button-big {
				color: @mid-dark-gray;
			}

			.package-element-guest-row{
				border-bottom: solid @mid-gray 1px;
				margin-bottom: 20px;
			}

			.package-element-guest{
				float: left;
				//background: blue;
				width: 340px;
				margin-left: 10px;
				padding: 0;
				&:last-child{
					margin-left: 30px;
				}
				.package-element-subhead{
					font-size: 14px;
					color: @brand-main-color;
				}
				.package-element-item{
					float: left;
					width: 240px;
				}
				.package-element-item-price{
					float: left;
					width: 80px;
					text-align: right;
				}
				.package-element-sub{
					//background: yellow;
					p{
						color: @mid-dark-gray;
						margin-bottom: 0px;
					}
				}
				.package-element-sub-total{
					margin-top: 10px;
					.brand-font-semi-bold;
					
				}
			}
			.package-element-total{
				margin-top: -10px;
				margin-bottom: 10px;
				padding: 0 20px 0 0;
				p{
					.brand-font-semi-bold;
					font-size: 16px;
					color: @dark-gray;
				}
				.package-element-total-price{
					display: inline-block;
					padding-left: 50px;
				}
			} 
		}
		.package-total{
			background: @brand-mid-gray;
			padding-top: 10px;
			padding-bottom: 0px;
			margin-bottom: 20px;
			p{
				font-size: 18px;
				color: @brand-main-color;
			}
		}

	}


	.payment-head{
		font-size: 15px;
		padding-top: 30px;
		padding-bottom: 10px;
		background: @brand-mid-gray;
		//border-bottom: 1px @brand-main-color solid;
		margin-bottom: 20px;
		.full-items{
			position: absolute;
			bottom: 10px;
			left: 10px;
			z-index: 1000;
			p{
				font-size: 15px;
			}
		}
		.payment-head-total{
			letter-spacing: -1px;
			font-size: 35px;
			.brand-font-bold;
			color: @brand-main-color;
			margin-bottom: 20px;
		}
		.payment-head-min{
			margin-bottom: 2px;
			font-size: 15px;
			color: @brand-main-color;
		}
		.payment-head-full{
			.brand-font-bold;
			font-size: 15px;
			color: @brand-main-color;
		}
		.payment-head-left{
			display: inline-block;
		}
		.payment-head-right-width{
			width: 180px;
			display: inline-block;
		}

	}
	.cancelation-headings{
		p{
			color: @brand-main-color;
			font-size: 14px;
		}
		.cancel-charges { width: 400px;}
	}
	.cancel-penalties{
		p{
			margin-bottom: 2px;
		}
	}
	.payment-holder{
		padding-bottom: 1px;
		margin-bottom: 20px;
		background: @brand-mid-gray;
		label{
			//color: @brand-main-color;
		}
		h2{
			padding: 10px;
			margin: 0px;

		}
		label.payment-label{
			.brand-font-semi-bold;
			//color: @brand-main-color;
		}
		.payment-details-today{
			label.payment-label{width: 300px;}
			div{.pull-left; width: 200px;}
			label{width: 180px;.pull-left;}
			.form-control-label-right {
				label {
					color: @dark-gray;
				}
			}
		}
		.payment-details-amount{
			label{width: 300px;.pull-left;}
			input{margin-top: -6px;}
			.form-currency-prefix{margin-left: 30px;}
			input {width: 130px};
		}
		.payment-details-card-registered-address{
			label.payment-label{width: 400px;}
			div{.pull-left;width: 80px;}
			label{width: 60px;.pull-left;}
			.form-control-label-right {
				label {
					color: @dark-gray;
				}
			}
		}
		.payment-address{
			margin-left: 20px;
		}
		.card-billing-address-intro{
			.brand-font-semi-bold;
		}
	}


	.card-details-holder{
		padding-bottom: 20px;
		margin-bottom: 20px;
		background: @brand-mid-gray;
		position: relative;
		label{
			.brand-font-bold;
		}
		#card-month{
			margin-right: 10px;
		}
		.credit-card-types{
			position: absolute;
			top: 20px;
			left: 250px;
			width: 300px;
			.credit-card-front{
				display: inline-block;
				width: 52px;
				height: 36px;
				//background: blue;
				cursor: pointer;
				margin-right: 5px;
				background-repeat: no-repeat;
				background-position: center center;
			}
			.credit-card-discover{
				background-image: url("@{image-path}/cards/discover-small.png");
				&:hover{
					background-image: url("@{image-path}/cards/discover-small-hover.png");
				}
			}
			.credit-card-discover.selected{
				background-image: url("@{image-path}/cards/discover-small-selected.png");
			}
			.credit-card-master{
				background-image: url("@{image-path}/cards/master-small.png");
				&:hover{
					background-image: url("@{image-path}/cards/master-small-hover.png");
				}
			}
			.credit-card-master.selected{
				background-image: url("@{image-path}/cards/master-small-selected.png");
			}
			.credit-card-visa{
				background-image: url("@{image-path}/cards/visa-small.png");
				&:hover{
					background-image: url("@{image-path}/cards/visa-small-hover.png");
				}
			}
			.credit-card-visa.selected{
				background-image: url("@{image-path}/cards/visa-small-selected.png");
			}
			.credit-card-amex{
				background-image: url("@{image-path}/cards/amex-small.png");
				&:hover{
					background-image: url("@{image-path}/cards/amex-small-hover.png");
				}
			}
			.credit-card-amex.selected{
				background-image: url("@{image-path}/cards/amex-small-selected.png");
			}
		}
		.credit-card-back{
			position: absolute;
			top: 0px;
			left: 130px;
			width: 143px;
			height: 92px;
			background-repeat: no-repeat;
			background-position: center center;
		}
		.card-back-discover{
			background-image: url("@{image-path}/cards/discover-big.png");
			.hide;
		}
		.card-back-master{
			background-image: url("@{image-path}/cards/master-big.png");
			.hide;
		}
		.card-back-visa{
			background-image: url("@{image-path}/cards/visa-big.png");
			.hide;
		}
		.card-back-amex{
			background-image: url("@{image-path}/cards/amex-big.png");
			.hide;
		}
		.row-spacing{
			margin-bottom: 40px;
		}
		h2{
			padding: 10px;
			margin: 0px;
		}
		.amount-deduct{
			font-size: 18px;
			color: @brand-main-color;
			margin-top: 11px;
		}
		.card-number {
			input {width: 200px;}
		}
		.card-dates {
			select {width: 80px;}
		}
		.security-code {
			input {width: 60px;}
		}
		.card-name {
			input {width: 400px;}
		}
	}
	.terms-wrapper{
		float: right;
		label{
			color: @mid-dark-gray;
		}

	}
	.make-payment-wrapper{
		.text-right;
	}




}