.booking-container{



// PAGE 6-0-0
	.about-you-form{
		label{
			.brand-font-bold;
			color: @brand-labels;
		}
	}

	.additional-guest-title-fields{
		margin-top: 50px;
	}

	.receive-promotions-wrapper{
		margin-top: 20px;
		label{
			color: @dark-gray;
			.brand-font;
			width: 600px;
		}
	}

	.checkout-section-head .button-label{
		margin-right: 10px;
	}

    .guest-details-postcode {
		input, select {
			width: 190px;
		}
	}

	.guest-details-middle-names{
		display: block;
		width: 200px;
		input[type="text"]{
			width: 180px;
		}
		input[type="radio"]{
			margin-right: 10px;
		}
		.radio-special-label{
			margin-top: 6px;
			display: inline-block;
			color: @dark-gray;
			.brand-font;
		}
	}

	.guest-details-title{
		input, select {
			width: 160px;
		}
	}

	.guest-details-first-name, .guest-details-last-name, .guest-details-citizenship, .guest-details-passport, .guest-details-email, .guest-details-phone, .guest-details-loyalty, .guest-details-frequent-flyer, .guest-details-country, .guest-details-town, .account-password {
		input, select {
			width: 210px;
		}
	}

	.guest-details-gender{
		.pull-left;
		width: 70px;
		label{
			.brand-font;
			color: @dark-gray;
			width: 40px;
		}
	}

	.guest-details-address1, .guest-details-address2 {
		input, select {
			width: 350px;
		}
	}
	


}