.booking-container{

// PAGE 2-0-0c
	.onecol {
		.stateroom-category {
			.brand-font-semi-bold;
			display: inline-block;
			font-size: 16px;
			padding: 3px;
			margin: 0 2px;
			width: 35px;
			text-align: center;
			text-transform: uppercase;
			@stateroom-lighten-percentage: 20%;
			&.stateroom-category-fo {
				background-color: #749ca8;
			}
			&.stateroom-category-h {
				background-color: #c47765;
			}
			&.stateroom-category-i {
				background-color: #d3b338;
			}
			&.stateroom-category-fi {
				background-color: #c5799f;
			}
			&.stateroom-category-k {
				background-color: #c57784;
			}
			&.stateroom-category-l {
				background-color: #e7c7d4;
			}
			&.stateroom-category-n {
				background-color: #a8c2db;
			}
			&.stateroom-category-q {
				background-color: #aa7330;
			}
			&.stateroom-category-g {
				background-color: #cadb37;
			}
			&.stateroom-category-ps {
				background-color: #4372a7;
			}
			&.stateroom-category-d1 {
				background-color: #8b73b3;
			}
			&.stateroom-category-d3 {
				background-color: #b07477;
			}
			&.stateroom-category-e1 {
				background-color: #91a776;
			}
			&.stateroom-category-e2 {
				background-color: #d71440;
			}
			&.stateroom-category-f {
				background-color: #b5a24c;
			}
			&.stateroom-category-pr {
				background-color: #51819f;
			}
			&.stateroom-category-js {
				background-color: #00aac0;
			}
			&.stateroom-category-d2 {
				background-color: #63a292;
			}
			&.stateroom-category-fp {
				background-color: #c082a9;
			}
			&.stateroom-category-fs {
				background-color: #2bb673;
			}
			&.stateroom-category-rs {
				background-color: #f05a72;
			}
			&.stateroom-category-os {
				background-color: #47a6dc;
			}
			&.stateroom-category-gs {
				background-color: #ffd503;
			}
			&.stateroom-category-gty {
				background-color: #b9b9b9;
			}
			// additional colors
			&.stateroom-category-rf {
				background-color: #A69C9A;
			}
			&.stateroom-category-sg {
				background-color: #6699B1;
			}
			&.stateroom-category-as {
				background-color: #00C2C2;
			}
			&.stateroom-category-7 {
				background-color: #E3D08A;
			}
			&.stateroom-category-8 {
				background-color: #F4EEAE;
			}
			&.stateroom-category-9 {
				background-color: #00BC4D;
			}
			&.stateroom-category-xr {
				background-color: #009C85;
			}
			&.stateroom-category-xj {
				background-color: #8CABDD;
			}
			&.stateroom-category-xp {
				background-color: #BCE10A;
			}
			&.stateroom-category-xd {
				background-color: #FF5249;
			}
			&.stateroom-category-xo {
				background-color: #E1CE8A;
			}
			&.stateroom-category-4 {
				background-color: #A3502F;
			}
			&.stateroom-category-5 {
				background-color: #B8733C;
			}
			&.stateroom-category-6 {
				background-color: #B68F42;
			}
			&.stateroom-category-9a {
				background-color: #55A064;
			}
			&.stateroom-category-9b {
				background-color: #00BC4D;
			}
			&.stateroom-category-ns {
				background-color: #90B3E2;
			}
		}
		.row-stateroom-subsection-header {
			margin: 20px 0;
			.stateroom-options-label {
				.brand-font-bold;
				color: @brand-main-color;
				font-size: 12px;
				text-transform: uppercase;
				margin-right: 5px;
			}
			a {
				color: @brand-main-color;
				font-size: 11px;
				text-decoration: underline;
			}
		}
		.col-stateroom-section {
			width: 650px;
			.row-stateroom-subsection-header {
				margin-left: -10px;
				margin-bottom: 10px;
			}
			.stateroom-section {
				border: 1px solid @mid-gray;
				margin-left: -10px;
				margin-bottom: 10px;
				//height: 36px;
				overflow: hidden;
				position: relative;
				.icon-minus-sign-alt, .icon-plus-sign-alt {
					cursor: pointer;
					color: @brand-accent-strong;
					position: absolute;
					top: 10px;
					right: 10px;
					z-index: 1;
				}
				.icon-minus-sign-alt {
					display: none;
				}
				.stateroom-section-content {
					height: 1px;
					overflow: hidden;
				}
				&.stateroom-section-expanded {
					height: auto;
					.icon-plus-sign-alt {
						display: none;
					}
					.icon-minus-sign-alt {
						display: block;
					}
					padding-bottom: 30px;
					.stateroom-section-content {
						height: auto;
					}
				}
				.row-stateroom-section-heading {
					line-height: 22px;
					margin-top: 6px;
					margin-left: -9px;
					.col-category {
						width: 35px;
					}
					.col-category-and-title {
						width: 270px;
						.stateroom-category {
							display: block;
							float: left;
							margin: -3px 8px 3px 3px;
						}
						h3 {
							.brand-font-semi-bold;
							display: inline;
							font-size: 16px;
							letter-spacing: 0px;
							line-height: 1;
							color: @brand-main-color;
						}
					}
					.col-occupancy {
						color: @mid-dark-gray;
						font-size: 12px;
						line-height: 25px;
						text-transform: uppercase;
						width: 250px;
					}
					.col-price {
						.brand-font-bold;
						color: @brand-main-color;
						width: 108px;
						padding-right: 25px;
						font-size: 18px;
						text-align: right;
					}
				}
				.row-image-and-description {
					margin-top: 20px;
					.col-image {
						padding-left: 17px;
						width: 262px;
						img {
							max-width: 100%;
						}
					}
					.col-text {
						width: 353px;
						p {
							font-size: 12px;
						}
					}
				}
				.row-offer-selection {
					padding-bottom: 5px;
					.offers-box {
						margin: 10px 17px;
						.keyline-border;
						padding: 7px 30px;
						.offers-title {
							color: @brand-main-color;
							font-size: 12px;
							text-transform: uppercase;
						}
						.offer-row {
							.clearfix;
							margin: 7px 0;
							input, label, p {
								float: left;
							}
							input {
								margin-right: 5px;
								position: relative;
								top: 3px;
							}
							label {
								.brand-font-bold;
								margin-right: 15px;
							}
							p {
								width: 440px;
								.lowest-price {
									.brand-font-bold;
								}
								a {
									color: @brand-labels;
									.brand-font-bold;
									text-transform: uppercase;
									font-size: 10px;
									margin-left: 10px;
								}
							}
							&.offer-row-selected {
								label, p {
									color: @brand-main-color;
								}
							}
						}
						.roset {
							position: absolute;
							top: 3px;
							left: 4px;
						}
					}
				}
				.stateroom-selection {
					margin: 0px 27px;
					.controls {
						margin: 0 16px;
						.button {
							float: right;
							margin-right: 0 20px;
						}
					}
					.staterooms-title {
						color: @brand-main-color;
						font-size: 12px;
						text-transform: uppercase;
					}
					p {
						font-size: 12px;
						color: @mid-dark-gray;
					}
					form {
						.col-stateroom-number, .col-decks, .col-positions {
							width: 140px;
							color: @brand-main-color;
						}
						.col-stateroom-number {
							label{
								color: @brand-main-color;
							}
						}
						.row-stateroom-list-header {
							border: 1px solid @mid-gray;
							background-color: @light-gray;
							padding-top: 5px;
							padding-bottom: 5px;
							.col-stateroom-number {
								font-size: 12px;
								color: @mid-dark-gray;
								padding-top: 8px;
							}
							.col-decks, .col-positions {
								//margin-left: -5px;
							}
							select {
								font-size: 12px;
								width: 110px;
							}
						}
						.stateroom-list-container {
							border: 1px solid @mid-gray;
							margin: 1px 0px 10px 0px;
							.row {
								margin: 15px 0px 5px 0px;
								&.selected {
									.brand-font-bold;
								}
							}
							.col-stateroom-number {
								input {
									margin: 3px;
								}
								label {
									display: inline;
									margin-left: 5px;
								}
							}
							.col-view-link {
								a {
									color: @brand-labels;
									.brand-font-bold;
									text-transform: uppercase;
									font-size: 10px;
									.icon-caret-right {
										display: none;
									}
								}
							}
						}
					}
				}

				&.gty-stateroom-section {
					.col-text {
						width: auto;
					}
					.stateroom-selection form {
						.row-stateroom-list-header {
							.col-decks, .col-positions, .col-stateroom-number {
								font-size: 12px;
								color: @mid-dark-gray;
								padding-top: 8px;
							}
						}
						.col-decks, .col-positions, .col-stateroom-number {
							width: 180px;
						}
					}
				}
			}
		}
		.col-stateroom-explanations {
			width: 310px;
			padding: 0px;
			.stateroom-explanation {
				position: absolute;
				top: 0px;
				left: 0px;
				border: 1px solid @mid-gray;
				padding: 20px;
				h4 {
					.brand-font-bold;
					font-size: 14px;
					color: @dark-gray;
				}
				p {
					font-size: 12px;
					line-height: 1.2;
					margin: 0;
				}
				.icon-caret-left {
					position: absolute;
					bottom: 20px;
					left: -9px;
					color: @mid-gray;
					font-size: 25px;
				}
			}
		}
	}
}

.booking-popups {
	.lightbox.lightbox-loading {
		.lightbox-main-container {
			width: 360px;
			height: 180px;
			background-color: @white;
			padding: 27px 20px;
			border: 1px solid @brand-accent-strong;
			text-align: left;
			.border-radius(5px);
			img {
				position: absolute;
				top: 20px;
				left: 17px;
			}
			p.heading {
				font-size: 15px;
				color: @brand-main-color;
				padding-left: 60px;
				padding-bottom: 20px;
			}
			p.message {
				font-size: 11px;
			}
		}
	}

	#lightbox-upsell {
		.lightbox-main-container {
			height: 430px;
			.add-buttons {
				div {
					margin-bottom: 20px;
					button {
						clear: both;
					}
				}
			}
		}
	}

	.lightbox.lightbox-stateroom {
		.lightbox-main-container {
			width: 990px;
			height: 400px;
			padding: 50px 0px;
			.col-stateroom-detail-and-upgrade {
				width: 620px;
				.row-upgrade {
					margin-top: 30px;
					.info-banner {
						width: 100%;
					}
				}
			}
			.col-deck-plan {
				width: 350px;
				height: 300px;
				overflow-x: hidden;
				overflow-y: scroll;
				img {

				}
			}
			.col-stateroom-detail-text {
				width: 285px;
				.col-stateroom-detail-text-no, .col-stateroom-detail-text-deck, .col-stateroom-detail-text-location {
					padding-left: 0px;
					.stateroom-detail-label, .stateroom-detail-value {
						display: block;
						text-transform: uppercase;
						.brand-font-bold;
					}
					.stateroom-detail-label {
						color: @mid-dark-gray;
						font-size: 12px;
					}
					.stateroom-detail-value {
						color: @brand-main-color;
						font-size: 20px;
					}
				}
				.stateroom-features {
					margin-top: 20px;
					h4 {
						.brand-font-bold;
					}
					ul {
						list-style: none;
						margin-left: 10px;
						li {
							font-size: 12px;
							margin-left: 0px;
							.list-style-color(@brand-accent-strong);
						}
					}
				}
			}
			.room-type-details{
				float: left;
				width: 305px;
				position: relative;
				.room-type-images{
					position: relative;
					float: left;
					ul.room-type-image-selector{
						position: absolute;
						bottom: 0px;
						background: rgba(0, 0, 0, 0.3);
						width: 305px;
						padding:0;
						margin: 0;
						.clearfix();
						li{
							margin: 5px 0 5px 5px;
							padding: 0;
							border: 3px solid @white;
							float: left;
							cursor: pointer;
							width: 80px;
							height: 50px;
							overflow: hidden;
							position: relative;
							img{
								position: absolute;
								top: 0px;
								left: 0px;
								max-width: none;
								height: 100%;
								//height: 50px;
							}
						}
					}
					.room-type-images-main-image{
						width: 305px;
						height: 235px;
						overflow: hidden;
						 img{
							max-width: none;
							height: 100%;
						}
					}
				}
			}
		}
	}
}