@import "elements-page02a.less";
@import "elements-page02b.less";
@import "elements-page02c.less";

.booking-container{

// PAGE 2-0-0
	.cruise-result-stateroom-heading {
		border-top: 0;
		padding-top: 0px;
		margin-top: -10px;
		.col-cruise-result-detail {
			width: 450px;
		}
	}

	.stateroom-selection-steps {
		.stateroom-selection-step-header {
			outline: 1px solid @mid-gray;
			border-bottom: 1px solid @white;
			margin-top: 10px;
			overflow: hidden;
			&:first-child {
				margin-top: 0px;
			}
			.col-stateroom-selection-step-title {
				//padding-left: 20px;
				padding-right: 0px;
				p {
				}
			}
			.col-stateroom-selection-step-title, .col-stateroom-selection-step-summary {
				//padding-top: 20px;
				//padding-bottom: 20px;
				p {
					position: relative;
					color: @dark-gray;
					margin: 0px;
					padding: 7px 0px;
					padding-left: 100px;
					font-size: 16px;
					.brand-font-bold;
					.stateroom-step {
						position: absolute;
						top: 0px;
						left: 0px;
						border: 1px solid white;
						margin-left: -10px;
						margin-right: 5px;
						display: inline-block;
						width: 95px;
						height: 100px;
						text-align: center;
						padding-top: 5px;
						background: @brand-accent-strong;
						color: @brand-main-color;
						font-weight: normal;
						.brand-font-ultra-bold;
					}
				}
				&.col-stateroom-selection-step-title-visited {
					p {
						color: @mid-dark-gray;
					}
				}
			}
			.col-stateroom-selection-step-summary {
				max-width: 564px;
				p {
					font-size: 16px;
					padding: 7px;
				}
			}
			.stateroom-selection-step-link {
				padding: 7px;
				position: absolute;
				top: 0px;
				right: 0px;
				text-align: right;
				a {
					font-size: 12px;
					color: @mid-gray;
					.brand-font;
				}
			}
		}
		.stateroom-selection-step-body {
			margin-top: 5px;
		}
	}
}