.booking-popups {
	width: 100%;
	*{
		.box-sizing(border-box);
	}

	// EXPLANATION STYLE POPUP
	// This is the one with the brand (light blue for Celebrity) border used
	// for help tooltips
	.popup-explanation{
		border: solid 3px @mid-gray;
		background-color: @white;
		padding: 10px;
		.border-radius(9px);
		width: 480px;
		margin-top: 10px;
		position: relative;
		.icon-caret-up {
			position: absolute;
			top: -23px;
			left: 80px;
			font-size: 30px;
			color: @mid-gray;
		}
		.icon-remove-sign{
			cursor: pointer;
			display: block;
			position: absolute;
			top: 10px;
			right: 10px;
			color: @mid-gray;
			line-height: 1;
			font-size: 15px;
		}
		.icon-remove {
			cursor: pointer;
			display: block;
			top: 10px;
			right: 10px;
			text-align: center;
			width: 15px;
			height: 15px;
			.border-radius(7px);
			padding: 2px 2px 1px 2px;
			background-color: @mid-gray;
			color: @white;
			line-height: 1;
			position: absolute;
			font-size: 10px;
		}
		.popup-left-col{
			display: inline-block;
			width: 160px;
		}
		&.popup-explanation-no-heading {
			p {
				padding: 20px 10px 0px 10px;
				font-size: 13px;
				line-height: 1.4;
			}
		}
		&.popup-explanation-up-aligned-right {
			.icon-caret-up {
				left: auto;
				right: 40px;
			}
		}
		&.popup-explanation-left {
			padding: 10px 25px 10px 10px;
			width: 245px;
			p {
				margin: 0;
			}
			.icon-caret-up {
				display: none;
			}
			.icon-caret-right {
				position: absolute;
				top:  10px;
				right: -10px;
				font-size: 22px;
				color: @mid-gray;
			}
		}
	}

	.bold{
		.brand-font-bold;
	}

	// GENERIC LIGHTBOX
	// These lightboxes have the semi-transparent background and the close button top right
	// Used for the hotel image lightbox, map lightbox etc
	.lightbox {
		position:fixed; /* keeps the lightbox window in the current viewport */
		top:0;
		left:0;
		width:100%;
		height:100%;
		background: url("@{image-path}/trans_point_seven_dot.png") repeat;
		text-align:center;    
		.lightbox-main-container {
			position: absolute;
			top: 0;
			left: 0;
			right: 0;
			bottom: 0;

			background-color: @mid-gray;
			padding: 8px;
			margin: auto;
			width: 516px;
			height: 440px;
			text-align: center;

			.lightbox-main-image-container {
				width: 100%;
				overflow: hidden;
				img {
					border: 2px solid @white;
				}
			}
			.lightbox-main-map-container {
				width: 500px;
				height: 400px;
				border: 2px solid @white;
				background-color: @white;
			}
			.lightbox-info-container {
				height: 20px;
				position: absolute;
				bottom: 5px;
				left: 7px;
				font-size: 11px;
			}
			.lightbox-close {
				position: absolute;
				cursor: pointer;
				top: -10px;
				right: -10px;
				width: 31px;
				height: 31px;
				background-image: url("@{image-path}/icon_lightbox_close.png");;
			}   
			.lightbox-scroll-left, .lightbox-scroll-right {
				cursor: pointer;
				position: absolute;
				top: 0;
				background: url("@{image-path}/trans_dot.png") repeat; // IE hack so hover, cursor work
				height: 100%;
				padding: 0 45%;
				font-size: 40px;
				vertical-align: middle;
				span {
					position: absolute;
					top: 50%;
					margin-top: -35px;
				}
				&:hover {
					color: @brand-accent-strong;
					span {
						color: @brand-accent-strong;
					}
				}
			}
			.lightbox-scroll-left {
				left: 15px;
				padding-left: 0;
				span {
					left: 0px;
				}
			}
			.lightbox-scroll-right {
				right: 15px;            
				padding-right: 0;
				span {
					right: 0px;
				}
			}
		}
	}

	// EXPLANATION STYLE POPUP
	// This is used for the view/edit lightboxes on the RHS, also upsell and stateroom lightboxes in the 
	// stateroom selection pages
	.lightbox.lightbox-explanation {
		.lightbox-main-container {
			background-color: @white;
			border: 2px solid @mid-gray;
			height: 270px;
			padding: 55px 65px;
			text-align: left;
			.border-radius(3px);
			p {
				font-size: 16px;
				&.heading {
					color: @brand-main-color;
					font-size: 20px;
				}
				&.message {
					margin-top: 20px;
					margin-bottom: 40px;
				}
			}
			.controls {
				border-top: 1px solid @mid-gray;
				padding-top: 20px;
				text-align: right;
				.link-lightbox-close {
					cursor: pointer;
					font-size: 13px;
					padding-right: 10px;
					text-transform: capitalize;
					color: @mid-dark-gray;
					.brand-font-semi-bold;
				}
			}			
			.lightbox-remove {
				cursor: pointer;
				display: block;
				text-align: center;
				width: 90px;
				height: 14px;
				font-size: 11px;
				color: @mid-dark-gray;
				line-height: 16px;
				.brand-font-semi-bold;
				.icon-remove-sign {
					font-size: 18px;
					position: relative;
					top: 2px;
					left: 2px;
				}
				position: absolute;
				top: 10px;
				right: 10px;
			}
		}
	}	
}

.booking-container, .booking-popups {
	// UTILITY LIKE STYLES
	// CSS image replacement
	// -------------------------
	// Source: https://github.com/h5bp/html5-boilerplate/commit/aa0396eae757
	.hide-text {
		font: 0/0 a;
		color: transparent;
		text-shadow: none;
		background-color: transparent;
		border: 0;
	}

	.text-right {
		.text-right();
	}

	.text-center {
		.text-center();
	}

	.clearfix {
		.clearfix();
	}

	.pull-left{
		.pull-left();
	}

	.pull-right{
		.pull-right();
	}

	.hide {
		.hide();
	}

	.center-block {
		.center-block();
	}

	.info-banner {
		.keyline-border;
		background-color: @white;
		padding: 7px 10px;
	}

	.terms{
		width: 960px;
		background: @ultra-light-gray;
		padding: 20px;
		float: left;
		margin-top: 20px;
		h4{
			color: @dark-gray;
			line-height: 1;
			font-size: 11px;
			.brand-font-semi-bold;
		}
		p{
			.brand-font;
			font-size: 11px;
			line-height: 1;
			color: @dark-gray;
		}
	}

	.roset {
		background-image: url("@{brand-image-path}/icon_offers_roset.png");
		height: 37px;
		width: 37px;
	}

	.expandable, .expander-open-link {
		display: none;
	}
	.dark-underline{
		border-bottom: 1px @mid-gray solid;
	}
	.weak-accent-gradient-back{
		#gradient > .horizontal(@white, @brand-accent-weak);
	}

	.continue-wrapper{
		margin: 30px 0 30px 0;
		text-align: right;
	}

	.arrow-down{position:relative; left: 20px; margin:0px 0 10px 20px;width:0;height:0;border-left:16px solid transparent;border-right:16px solid transparent; border-top:12px solid @mid-gray;
	}

	.arrow-up{position:relative; left: 20px; margin:0px 0 10px 20px;width:0;height:0;border-left:16px solid transparent;border-right:16px solid transparent; border-bottom:12px solid @brand-accent-strong;
	}	

	hr{
		border: 0;
		border-bottom: 1px @brand-black solid;
	}

	.question-mark-button{
		color: @brand-labels;
		font-size: 16px;
		margin-right: 6px;
		margin-left: 4px;
		position: relative;
		top: 2px;
	}
	.question-mark-button-big{
		color: @brand-main-color;
		font-size: 20px;
		margin-right: 6px;
		margin-left: 6px;
		position: relative;
		top: 1px;
	}

	// FLIGHT STYLES ALSO USED ON HOTELS PAGE
	.image-flight-out, .image-flight-return{
		display: inline-block;
		width: 27px;
		height: 27px;
		background-repeat: no-repeat;
		background-position: left top;
		vertical-align: middle;		
		margin-right: 1px;
	}
	.image-flight-out{
		background-image: url("@{brand-image-path}/icon_flight_outbound.png");
	}
	.image-flight-return{
		background-image: url("@{brand-image-path}/icon_flight_inbound.png");
	}

/*
// OLD VERSION
	// STEP INDICATOR SECTION AT TOP OF THE PAGE
	.current-step-indicator{
		.clearfix;
		margin: 0 0 29px 0;
		padding: 0;
		overflow: hidden;
		li {
			position: relative;
			float: left;
			border-width: 1px 0 1px 0;
			border-style: solid;
			border-color: @mid-gray;
			padding: 0 15px 0 30px;
			margin: 0 0px 0 0;
			font-size: 14px;
			line-height: 34px;
			color: #333;
			&:before {
				content: "";
				display: block;
				width: 0;
				height: 0;
				position: absolute;
				top: -1px;
				right: -16px;
				border-top: 18px solid transparent;
				border-bottom: 18px solid transparent;
				border-left: 16px solid @mid-gray;
				z-index: 1;
			}
			&:after {
				content: "";
				display: block;
				width: 0;
				height: 0;
				position: absolute;
				top: 0;
				right: -15px;
				border-top: 17px solid transparent;
				border-bottom: 17px solid transparent;
				border-left: 15px solid #fff;
				z-index: 2;
			}
			&:first-child {
				border-left-width: 1px;
				padding-left: 15px;
				border-color: #777;
				color: @brand-main-color;
				&:before { border-left-color: @brand-main-color; }
			}
			&.current-step{
				color: @brand-labels;
				font-weight: bold;
				border-color: @brand-labels;
				background: #e4ebf5 url("@{brand-image-path}/bg-current-step.png") repeat-x;
				&:before { content: none; }
				&:after {
					border: none;
					height: 34px;
					width: 17px;
					background: transparent url("@{brand-image-path}/current-step-arrow.png") no-repeat;
				}

			}
			&.visited-step {
				color: @brand-labels;
				border-color: @brand-labels;
				&:before { border-left-color: @brand-labels; }
			}
		}
	}
*/

	// UPDATED BRAND VERSION
	// STEP INDICATOR SECTION AT TOP OF THE PAGE
	.current-step-indicator{
		@white-outline: #fafdfe;
		//display: inline-block;
		.clearfix;
		margin: 0 0 40px 0;
		padding: 0;
		overflow: hidden;
		border: 4px @mid-gray solid;
		background: @mid-gray;
		.border-radius(5px);
		text-transform: uppercase;
		background: @mid-gray url("@{brand-image-path}/bg-step-new.png") repeat-x;
		li {
			.brand-font-bold;
			text-align: center;
			width: 20%;
			position: relative;
			float: left;
			border-width: 1px 0 1px 0;
			border-style: solid;
			border-color: @white-outline;
			padding: 6px 15px 0 30px;
			margin: 0 0px 0 0;
			font-size: 11px;
			line-height: 40px;
			color: @mid-dark-gray; 
			height: 52px;
			&:before {
				content: "";
				display: block;
				width: 0;
				height: 0;
				position: absolute;
				top: -1px;
				right: -16px;
				//border-top: 18px solid transparent;
				//border-bottom: 18px solid transparent;
				//border-left: 16px solid @mid-gray;
				z-index: 1;
			}
			&:after {
				content: "";
				display: block;
				width: 0;
				height: 0;
				position: absolute;
				top: 0;
				right: -15px;
				//border-top: 17px solid transparent;
				//border-bottom: 17px solid transparent;
				//border-left: 15px solid #fff;
				z-index: 2;
				height: 50px;
					width: 15px;
					background: transparent url("@{brand-image-path}/step-arrow-new.png") no-repeat;
			}
			&:first-child {
				.border-left-radius(3px);
				//background: white;
				border-left-width: 1px;
				padding-left: 15px;
				//border-color: #777;
				color: @brand-main-color;
				//&:before { border-left-color: @brand-main-color; }
			}
			&:last-child {
				.border-right-radius(3px);
				border-right-width: 1px;
				//padding-right: 15px;
				border-color: @white-outline;
				&:after {
					content: "";
				}
				//color: @brand-main-color;
				//&:before { border-left-color: @brand-main-color; }
			}
			&.current-step{
				color: white;
				//font-weight: bold;
				//border-color: @brand-labels;
				background: @brand-main-color url("@{brand-image-path}/bg-current-step-new.png") repeat-x;
				//&:before { content: none; }
				&:after {
					border: none;
					height: 50px;
					width: 15px;
					background: transparent url("@{brand-image-path}/current-step-arrow-new.png") no-repeat;
				}

			}
			&.visited-step {
				color: @brand-labels;
				//border-color: @brand-labels;
				//&:before { border-left-color: @brand-labels; }
			}
		}
	}	


	// CHECKOUT STYLES USED IN BOTH BOOKING PAGES
	.checkout-section-head{
		padding: 16px 11px 6px 11px;
		background: @brand-mid-gray;
		.brand-font;
		color: @brand-main-color;
		border: 1px @mid-gray solid;
		.clearfix;
		margin-bottom: 0px;
		h2{
			float: left;
			margin-top: 0px;
			padding: 0;
		}
	}
	.checkout-section-head-button-container{
		float: right;
	}


	// BUTTONS - see also button mixin
	.button {
		.button(@brand-dark-button-color-main, @brand-dark-button-color-secondary, @brand-dark-button-color-hover-main, @brand-dark-button-color-hover-secondary, @brand-dark-button-color-border, @brand-dark-button-color-text);
		.separator, .icon-caret-right {
			display: none;
		}
		&.button-secondary {
			.button(@brand-light-button-color-main, @brand-light-button-color-secondary, @brand-light-button-color-hover-main, @brand-light-button-color-hover-secondary, @brand-light-button-color-border, @brand-light-button-color-text);
			background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2VlZWVlZSIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjUwJSIgc3RvcC1jb2xvcj0iI2VlZWVlZSIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjUwJSIgc3RvcC1jb2xvcj0iI2UyZTJlMiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNlMmUyZTIiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
			.hover {
				background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2Y3ZjdmNyIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjUwJSIgc3RvcC1jb2xvcj0iI2Y3ZjdmNyIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjUwJSIgc3RvcC1jb2xvcj0iI2VkZWRlZCIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNlZGVkZWQiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
			}
		}
		&.button-disabled {
			.button(@mid-gray, @mid-gray, @mid-gray, @mid-gray, @brand-light-button-color-border, @mid-dark-gray);
		}
	}
	
	.sub-price-wrapper {
		.clearfix;
		.sub-price-holder {
			float: right;
			.sub-price-desc {
				float: left;
				text-align: right;
				padding-top: 8px;
				.sub-price-desc-head {
					color: @brand-main-color;
					.brand-font-bold;
				}
				p {
					line-height: 1;
					font-size: 10px;
					margin: 0;
					padding: 0;
				}
			}
			.sub-price {
				float: left;
				font-size: 25px;
				color: @brand-main-color;
				padding-left: 5px;
				padding-top: 8px;
				.brand-font-bold;
			}
		}
	}

    // SEARCH FILTER - Filter and pagination section that appears on 1-0-0 and 3-1-0
    .filter-and-pages{
        margin-bottom: 5px;
        &.filter-and-pages-bottom {
            padding: 30px 0px 0px 0px;
            border-top: dotted 1px @brand-mid-gray;
            border-bottom: none;    
        }

        .results-pagination{
            float: right;
            .brand-font-bold;
            font-size: 12px;
            color: @mid-dark-gray;
            .results-showing, .page-select{
                float: left;
                margin-left: 20px;
                //font-size: 13px;
                a{
                	color: @brand-labels;
                    margin-left: 5px;
                }
                .current-page{
                    margin-left: 5px;
                    color: @brand-accent-strong;
                }
            }
        }
    }
}
	
// AUTOCOMPLETE FORM - needs to sit outside booking container, check for errors
.autocomplete-suggestions {
	border: 1px solid @mid-gray; 
	background: #fff; 
	cursor: pointer; 
	overflow: auto; }
.autocomplete-suggestion { 
	padding: 5px 5px; 
	font-size: 13px; white-space: nowrap; overflow: hidden; }
.autocomplete-selected { background: #f0f0f0; }
.autocomplete-suggestions strong { font-weight: normal; color: @brand-main-color; 
} 


// Some IE specify overrides and fixes
.ie8 {
	.booking-container .current-step-indicator li.visited-step, .booking-container .current-step-indicator li.bold {
		z-index: 5;
	}
}

.ie9 {
  .booking-container .button, .booking-container .button-secondary {
    filter: none;
    &:hover { filter: none; }
  }
  .booking-container {
  	.button, .button-secondary {
  		filter: none;
  		&:hover { filter: none; }
  	}
  }
}
