.booking-container{

// PAGE 2-0-0a
	.stateroom-selection-steps {
		.stateroom-selection-step-body.stateroom-selection-party-details {
			.keyline-border();
			padding: 20px;
			.col-number-of-guests {
				.clearfix;
				padding-left: 20px;
				width: 60%;
				.field-container {
					float: left;
					margin-bottom: 10px;
					width: 100px;
					label {
						.brand-font-bold;
						text-transform: uppercase;
						span {
							text-transform: none;
							.brand-font;
							display: block;
							font-size: 11px;
						}
					}
					select {
						width: 60px;
					}
				}
				p {
					clear: both;
					font-size: 11px;
					margin: 0px;
					a {
						font-size: 11px;
					}
				}
			}
			.col-room-options {
				.clearfix;
				width: 40%;
				.field-container {
					label {
						color: @dark-gray;
					}
				}
				.field-explanation {
					.border-radius(5px);
					clear: both;
					color: @mid-dark-gray;
					background-color: @white;
					padding: 10px;
					margin: 20px 0px 0px 20px;
					font-size: 11px;
					width: 268px;
					border: 1px solid @mid-dark-gray;

				}
			}
			.row-loyalty-and-promo {
				.keyline-border();
				margin-top: 20px;
				.col-loyalty-program, .col-promo-code {
					padding: 20px;
					label {
						color: @brand-main-color;
					}
				}
				.col-loyalty-program {
					width: 40%;
					.text-eligible-for-offers {
						font-size: 15px;
						color: @brand-main-color;
						margin-bottom: 20px;
					}
					.loyalty-forgotten-link {
						margin: 0;
						a {
							font-size: 11px;
						}
					}
				}
				.col-promo-code {
					width: 60%;
					.text-promo-code {
						font-size: 12px;
						margin-bottom: 20px;
					}
					button {
						float: right;
					}
				}
			}
		}
	}
}