.booking-container{

// PAGE 10-0-0

	.booking-confirmation-splash {
		overflow: hidden;
		width: 1900px;
		//height: 350px;
		margin: -130px -470px 0px -470px;
	}

	.booking-confirmation {
		text-align: center;
		.row {
			margin: 30px 0px;
		}
		h2 {
			text-transform: uppercase;
			.fix-weight();
		}
		.booking-confirmation-carousel {
			//border: 1px solid @mid-gray;
			width: 860px;
			height: 335px;
			margin: 20px auto;
		}
		.social-buttons {
			margin-top: 10px;
			text-align: center;
			padding: 5px 0 15px 0;
			border-bottom: 1px solid @mid-gray;
			a {
				text-decoration: none;
			}
			span {
				color: @brand-labels;
				cursor: pointer;
				font-size: 30px;
				padding: 0 8px;
			}
		}
		.booking-confirmation-heading {
			color: @brand-main-color;
			text-transform: uppercase;
			font-size: 19px;
			margin-top: 20px;
			.fix-weight();
			h1 {
				color: @brand-main-color;
				font-size: 19px;
				text-transform: uppercase;

				margin: 3px 0px;
			}
		}

		.booking-confirmation-reference {
			background-color: @brand-light-box-background;
			color: @brand-main-color;
			font-size: 16px;
			margin: 25px auto 0px auto;
			width: 480px;
			padding: 10px;
		}

		.booking-confirmation-footer {
			color: @brand-main-color;
			padding: 0 100px;
			font-size: 16px;
			text-transform: uppercase;
		}
	}

	.next-steps{
		p{
			margin-bottom: 20px;
		}
	}

}


.booking-popups {
	#lightbox-email {
		.lightbox-main-container {
			background-color: @light-gray;
			padding: 30px 20px 10px 20px;
			width: 410px;
			height: 580px;
			p.email-header {
				margin-top: 10px;
				margin-bottom: 5px;
				color: @brand-main-color;
				.brand-font-semi-bold;
				font-size: 16px;
				line-height: 1.3;
			}
			p.form-explanation {
				font-size: 13px;
			}
			form {
				margin-top: 20px;
				.row {
					margin-bottom: 10px;
					label {
						color: @brand-labels;
						.brand-font-bold;
					}
					input[type=text], textarea {
						width: 100%;
					}
					textarea {
						height: 120px;
					}
					.col-left, .col-right {
						width: 50%;
						label, .label {
							font-size: 13px;
						}					
					}
					.col-left {
						padding-left: 0px
					}
					.col-right {
						padding-right: 0px
					}
					.field-container-copy {
						label {
							display: inline;
							color: @dark-gray;
							.brand-font;
						}
					}
				}
			}
		}
	}
}

.main-content {
	overflow: visible;
}