.booking-container{

// PAGE 5-0-0
	.onecol {
		.col-summary-left {
			float: left;
			text-align: left;
			padding: 10px;
			width: 600px;
		}

		.col-summary-right {
			float: left;
			text-align: right;
			padding: 10px 20px 10px 0px;
			width: 360px;
			[class^="col-"] {
				text-align: right;
				padding: 0px;				
			}
		}
	}

	.row-summary-head {
		background-color: @brand-mid-gray;
		color: @brand-main-color;
		padding: 20px 0px 0px 0px;
		.col-price-label {
			padding-top: 5px;
			text-align: right;
			a.show-price-breakdown {
				display: block;
				margin-top: 5px;
				font-size: 11px;
				.brand-font-semi-bold;
			}
			.total-price-label {
				.brand-font-semi-bold;
				font-size: 20px;
			}
		}
		.total-price {
			.brand-font-bold;
			font-size: 42px;
			position: relative;
			top: 5px;
			padding-left: 15px;
		}
	}

	.your-cruise {
		// Alot of the stuff for .cruise-result is inherited from the .cruise-result class in 1-0-0 above
		.cruise-result, .cruise-pre-cruise, .cruise-post-cruise {
			h2 {
				padding-left: 10px;
			}
		}
		.cruise-result{
			padding: 20px 0 20px 0;
			margin-top: 25px;
			.col-cruise-result-duration{
				width: auto;
				margin: 0 15px;
				padding: 5px 10px;
				text-align: center;
				background: @brand-mid-gray;
			}
			.col-cruise-result-detail{
				float: left;
				width: 360px;
				margin-right: 30px;
				h3{
					line-height: 1;
					padding: 0px;
					margin: 0px;
					font-size: 20px;
					color: @brand-main-color;
				}
				.cruise-dates {
					margin-top: 0px;
					margin-bottom: 3px;
				}
				.cruise-ship, .cruise-itinerary, .cruise-stateroom {
					margin-top: 0px;
					margin-bottom: 3px;
					font-size: 11px;
					color: @mid-dark-gray;
					.cruise-detail-label {
						color: @dark-gray;
						.brand-font-bold;
					}
					.icon-caret-right {
						color: @brand-accent-strong;
					}
				}
			}
			.col-summary-right {
				.sub-price {
					font-size: 30px;
				}
			}
		}
		.cruise-pre-cruise {
			margin-top: 10px;
		}
		.cruise-post-cruise-flight, .cruise-pre-cruise-flight, .cruise-pre-cruise-hotel-stay {
			border-bottom: dotted 1px @brand-mid-gray;	
		}
		.row {
			.row {
				margin-bottom: 5px;
			}
			.col-cruise-summary-icons, .col-cruise-summary-detail, .col-cruise-summary-places, .col-cruise-summary-date, .col-cruise-summary-price {
				float: left;
				min-height: 17px;
				p {
					font-size: 11px;
				}
				.label {
					color: @brand-main-color;
					.brand-font-bold;
					//font-size: 10px;
					//text-transform: uppercase;
				}
				.return-flight-label{
					font-size: 10px;
					text-transform: uppercase;
				}
			}
			.col-cruise-summary-icons {
				width: 35px;
				.icon-plane {
					display: block;
					text-align: center;
					width: 27px;
					font-size: 20px;
					color: @brand-accent-strong;
				}
			}
			.col-cruise-summary-detail {
				width: 180px;
				.label {
					color: @brand-main-color;
					text-transform: uppercase;
					.brand-font-bold;
					font-size: 12px;
				}
			}
			.col-cruise-summary-places {
				width: 360px;
			}
			.col-cruise-summary-date {
				text-align: left;
				width: 95px;
			}
			.col-cruise-summary-price {
				width: 245px;
				.sub-price-desc {
					padding-top: 5px;
					.sub-price-desc-head {
						font-size: 10px;
						width: 140px;
					}
				}
				.sub-price {
					font-size: 30px;
				}
				.sub-price-edit {
					margin-top: 10px;
					a {
						font-size: 12px;
					}
				}
			}

		}
		.cruise-summary-footer {
			.link-return-to-search {
				display: block;
				margin-top: 7px;
			}
			.total-price-label {
				color: @brand-main-color;
				font-size: 20px;
				.brand-font-semi-bold;
			}
			.total-price {
				color: @brand-main-color;
				font-size: 42px;
				.brand-font-bold;
				position: relative;
				top: 7px;
				padding-left: 10px;
			}
		}
		.cruise-summary-controls {
			text-align: right;
			position: relative;
			margin-top: 20px;
			margin-bottom: 30px;
			padding-right: 20px;
			.info-banner {
				position: absolute;
				right: 150px;
				top: 0px;
			}
			.reserve-24-hours-label {
				font-size: 14px;
				padding-right: 10px;
				.brand-font-semi-bold;
			}
			&:last-child {
				margin-bottom: 10px;
			}
		}
	}	
}

.booking-popups {

	#lightbox-price-breakdown {
		position: absolute;
		height: 100%;
		.lightbox-main-container {
			background-color: @white;
			padding: 20px;
			height: auto;
			width: 960px;
			top: 100px;
			bottom: auto;
			.lightbox-main-breakdown-container {
				background-color: @light-gray;
				height: 100%;
				overflow-y: auto;
				.row-price-breakdown-header {
					padding: 27px 7px 20px 7px;
					.col-left {
						width: 40%;
					}
					.col-right {
						width: 60%;
						text-align: right;
						.col-label {
							width: 65%;
							text-align: right;
						}
						.col-value {
							width: 35%;
							text-align: right;
						}
						.row-heading {
							font-size: 35px;
							.brand-font-bold;
							margin-bottom: 20px;
						}
						.row-minimum-payment {
							font-size: 16px;
							margin-bottom: 5px;
						}
						.row-full-payment {
							font-size: 16px;
							.brand-font-bold;
						}
					}
				}
				.price-breakdown-detail {
					background-color: @white;
					padding: 27px 0px;
					margin: 3px;
					.row-section {
						color: @mid-dark-gray;
						.col-left, .col-right {
							position: relative;
							width: 50%;
							padding: 30px 20px 10px 20px;
							h3 {
								position: absolute;
								top: 0px;
								left: 20px;
								text-transform: none;
								font-size: 18px;
							}
							.person-label {
								.fix-weight();
								color: @brand-main-color;
							}
							.row {
								.col-left, .col-right {
									padding: 0;
									.question-mark-button-big {
										color: @mid-dark-gray;
									}
								}
								.col-right {
									text-align: right;
								}
								&.per-person-total {
									color: @dark-gray;
									.brand-font-semi-bold;
								}
							}
						}
					}
					.row-section-total {
						font-size: 16px;
						margin-bottom: 30px;
						.brand-font-bold;
						.col-cruise-total-label {
							text-align: right;
							width: 85%;
						}
						.col-cruise-total-value {
							padding-right: 20px;
							text-align: right;
							width: 15%;
						}
						hr {
							margin: 0px 20px 10px 20px;
						}
					}
				}
				.row-price-breakdown-footer {
					.col-left, .col-right {
						color: @brand-main-color;
						font-size: 18px;
						width: 50%;
						padding: 10px 20px 15px 20px;
					}
					.col-right {
						text-align: right;
					}
				}
				.row-price-breakdown-terms {
					background-color: @white;
					.terms {
						margin-top: 25px;
						text-align: left;
						width: auto;
					}
				}
			}
			.info-banner {
				padding: 7px 10px;
				width: 333px;
				margin-top: 20px;
				color: @dark-gray;
				top: 0px;
			}
		}
	}
}