// FORMS.LESS
// Generic form styles



.booking-container, .booking-popups {
	form {

		input[type="text"],
		input[type="email"],
		input[type="tel"],
		input[type="url"],
		input[type="date"],
		input[type="number"],
		input[type="search"],
		input[type="password"],
		select,
		textarea {
			background-color: @white;
		}
		input[type="radio"]{
			.box-shadow(0px 0px 0px rgba(255,255,255,0));
		}

		input:disabled, textarea:disabled {
			background-color: @light-gray;
		}
		.button-label{
			.brand-font-semi-bold;
			color: @dark-gray;
			font-size: 13px;
		}
		.form-explanation{
			.brand-font-semi-bold;
			color: @dark-gray;
			font-size: 14px;
		}
		label{
			color: @brand-labels;
			font-size: 13px;
			display: block;
		}
		input[type="text"], input[type="email"], input[type="password"]{
			padding: 7px;
			-webkit-apprearance: none;
			max-width: 100%;
		}
		.info-box{
			.keyline-border;
			//border-color: @mid-gray;
			background-color: @brand-box-promotion;
			float: right;
			padding: 10px 10px 10px 10px;
			font-size: 12px;
			width: 370px;
			.brand-font;
		}
		.offer-box{
			float: right;
			.keyline-border;
			background: @brand-box-promotion;
			padding: 10px 10px 0px 10px;
			font-size: 12px;
			width: 370px;
			.brand-font;
			.text-center;
			//border: solid 1px @light-gray;
			.offer-box-copy{
				font-size: 13px;
				line-height: 1.2;
				margin-bottom: 2px;
			}
			.offer-box-sub-copy{
				font-size: 11px;
				line-height: 1;
			}
		}
	}
	.form-control-label-right{
		margin-bottom: 8px;
		.clearfix;
		input, label {
			float: left;
		}
		label {
			display: block;
			padding-left: 5px;
			line-height: 1.2;
			margin-top: 0px;		
		}
	}
	.control-date-picker{
		position: relative;
		top: 5px;
		left: 5px;
		color: @brand-accent-strong;
		font-size: 26px;
		cursor: pointer;
	}
	.validation-summary {
		background-color: @white;
		border: 1px solid @brand-form-error;

		margin-bottom: 30px;
		.header {
			line-height: 35px;
			padding: 5px 10px;
			margin: 0;
			color: @brand-form-error;			
			background-color: @brand-form-error-background;
			i { 
				color: @brand-form-error-background; 
				font-size: 16px;
				line-height: 20px;
				background-color: @brand-form-error; 
				padding: 3px 8px;
				margin-right: 5px;
				border-radius: 3px;
			}
		}
		.arrow-down {
			border-top-color: @brand-form-error-background;
			top: -1px;
		}
		.content {
			padding: 10px 20px;
			color: @brand-form-error;
			ul li { list-style: disc; }
		}
	}
	.error-block {
		margin: -15px 10px 20px;
	}
	.error-message {
		position: relative;
		display: inline-block;
		padding: 8px 15px 8px 8px;
		border: 1px solid @brand-form-error;
		border-radius: 5px;
		background: @brand-form-error-background;
		.box-shadow(1px 2px 5px rgba(0,0,0,.4));
		i {
			font-size: 14px;
			color: #fff;
			padding: 3px 7px;
			margin-right: 5px;
			border-radius: 3px;
			background-color: @brand-form-error;
		}
		.arrow,
		.arrow:after {
			position: absolute;
			bottom: -16px;
			left: 10px;
			display: block;
			width: 0;
			height: 0;
			border-color: transparent;
			border-style: solid;
			border-bottom-width: 0;
			border-top-color: @brand-form-error;
			border-width: 8px;
			-webkit-filter: drop-shadow(1px 3px 4px rgba(0,0,0,.2));
		}
		.arrow:after {
			border-width: 7px;
			content: "";
			bottom: 1px;
			left: 0px;
			margin-left: -7px;
			border-bottom-width: 0;
			border-top-color: @brand-form-error-background;
		}
	}
}

// reset fieldset styles
fieldset {
    border: 0px;
    margin: 0 0px;
    padding: 0;
}