// LAYOUT.LESS
// Grids and major element positioning



.booking-popups, .booking-container {
	// switch to border-box box sizing in all browsers
	*{
		.box-sizing(border-box);
	}
}

.booking-popups {
	position: absolute;
	top: 0px;
	left: 0px;
	z-index: 100;
	.row{
		.clearfix;
		position: relative;
	}
	[class^="col-"] {
		float: left;
		padding-left: 10px;
		padding-right: 10px;
		list-style: none;
		position: relative;
		text-align: left;
	}
}

.booking-container{
	// page width
	width: 960px;
	margin: 0 auto;
	margin-top: 20px;
	background-color: @white;
	overflow: visible;
	// wrapper clear floats
	.clearfix;

	// TWO COLUMN OUTER GRID AS USED IN ALL PAGES WITH STEP INDICATOR

	// CONTAINS A 3 COLUMN SUB-GRID FOR LEFT HAND OUTER COLUMN
	.twocol-left{
		width: 720px;
		float: left;
		[class^="col-"] {
		    float: left;
		    padding-left: 10px;
		    padding-right: 10px;
		    list-style: none;
		    position: relative;
		}
		.col-1 { width: 240px }
		.col-2 { width: 480px }
		.col-3 { width: 720px}
	    .row{
			width: 720px;
			.clearfix;
			position: relative;
			.row{
				width: 100%;
			}

		}
		.row-spacing{
			margin-bottom: 20px;
		}
	}
	.twocol-right{
		width: 240px;
		float: left;
		padding: 0 0px 0 20px;		
	}


	.onecol{
		.row{
			.clearfix;
			position: relative;
		}
		[class^="col-"] {
		    float: left;
		    padding-left: 10px;
		    padding-right: 10px;
		    list-style: none;
		    position: relative;
		    text-align: left;
		}
		&.two-sub-cols {
			text-align: center;
			.col-1 { width: 480px }
			.col-2 { width: 480px }		
		}
	}

}

.booking-container-move-up{
	margin-top: 20px !important;
}
