// File: SKIN-CELEB.LESS
// Skin styling file for 
// Site name: Celebrity Cruises

// TO CREATE A NEW SKIN DUPLICATE THIS FILE, RENAME AND UPDATE VALUES BELOW
// RECOMPILE USING LESS COMPILER TO CSS FILE IN CSS FOLDER
// YOU'LL ALSO NEED TO UPDATE THE CSS LINK IN THE HTML HEADER

// Always include - imports the white label styling file
@import "main.less";

// COLORS - amend to reflect brand site colors

// RCUK COLORS
// light yellow used on search boxes - #FCF4D3
@brand-labels: #0270bd; // RCUK new blue used on labels and links
@brand-light-box-background: #e5eff8;
// light light blue used on pagination - #7EB8DE
// light blue on bottom of current step #E5F0F8

@brand-accent-strong: #FEBD11; // RCUK
@brand-accent-weak: #FFECC1; // RCUK light yellow on pop-up backgrounds
@brand-main-color: #061556; // RCUK new dark blue on headers etc 
@brand-heading-color: #061556; // RCUK as above
@brand-white: #ffffff;
@brand-mid-gray: #F5F5F5; // RCUK deprecate? - now light yellow
@brand-black: #2D2D2D;
@brand-box-corner: #0073bb; // RCUK
@brand-box-promotion: #FFF6E5; // RCUK was #fede88

@brand-dark-button-color-main: #fec617; // RCUK
@brand-dark-button-color-secondary: #feac10; // RCUK
@brand-dark-button-color-hover-main: #ffdd22; // RCUK
@brand-dark-button-color-hover-secondary: #fdce1f; // RCUK
@brand-dark-button-color-border: #f2d398; // RCUK 
@brand-dark-button-color-text: @brand-main-color; // RCUK

@brand-light-button-color-main: #eeeeee;
@brand-light-button-color-secondary: #e2e2e2;
@brand-light-button-color-hover-main: #f7f7f7;
@brand-light-button-color-hover-secondary: #ededed;
@brand-light-button-color-border: #efefef;
@brand-light-button-color-text: @brand-main-color; // RCUK

@brand-form-error: #d90000;
@brand-form-error-background: #fff2f2;

// UPDATE PATHS TO REFLECT WHERE IMAGES FOR THIS SKIN ARE
@skin-path: "ibe_skin_rcuk/";
@brand-image-path: "../images/@{skin-path}";



// FONTS - amend to reflect site fonts
// Note, HTML header also needs to be updated to reference correct JS font include
@baseFontFamily: "Arial", sans-serif;
@baseFontFamilyRegular: "Arial", sans-serif;
@baseFontFamilySemiBold: "Arial", sans-serif;
@baseFontFamilyBold: "Arial", sans-serif;
@baseFontFamilyUltraBold: "Arial Black", sans-serif;

// FONTS - These should not need to be changed.
// Optionally you can change font weight if required to match font
.brand-font(){
	font-family: @baseFontFamily;
	font-weight: 400;
}

.brand-font-semi-bold(){
	font-family: @baseFontFamilySemiBold;
	font-weight: 700;
}

.brand-font-bold(){
	font-family: @baseFontFamilyBold;
	font-weight: 700;
}

.brand-font-ultra-bold(){
	font-family: @baseFontFamilyUltraBold;
	font-weight: 400;
}

// OVERRIDES FOR HEADER ELEMENTS - try to integrate into BB source
// TO BE INTEGRATED
#main {
	overflow-x: hidden;
}

.main-content{
	width: 980px;
	padding: 20px 0;
}

.booking-container {
	form .select-replaced-wrapper {
		width: auto;
	}	
}

.lt-ie9 {
	.booking-container {
		form {
			select {
				padding: 1px;
				height: auto;
				line-height: normal;
			}
		}
	}
}