// TYPE.LESS
// White label setting for main type styles

.booking-container {

	.bold {
		.brand-font-bold;
	}

	.semi-bold {
		.brand-font-semi-bold;
	}

	font-family: @baseFontFamilyRegular;
	h1,h2,h3,h4 {
	text-transform: none;
	font-weight: 400;
	font-family: @baseFontFamilyRegular;
	//color: @baseHeadingColor;
	}

	h1 {
		font-size: 24px;
		line-height: 24px;
		margin-bottom: 10px;
		letter-spacing: 0px;
		color: @brand-heading-color;
		.fix-weight();
		&.header-main {
			//border-bottom: 1px solid @brandColorTwo;
			//margin-bottom: @globalGutter;
			//.display-inlineblock();
		}
		.page-heading-major{
			.brand-font-ultra-bold;
			text-transform: uppercase;
			//background: yellow;
			padding: 0 4px 0 0;
		}
		.page-heading-minor{
			.brand-font;
			font-size: 20px;
			//background: yellow;
			padding: 0 0 0 10px;
			border-left: 1px @mid-gray solid;
		}
	}

	h2 {
		font-size: 18px;
		line-height: 20px;
		margin-bottom: 5px;
		letter-spacing: 0px;
		color: @brand-main-color;
		.fix-weight();
		&.header-section {
			//border-top: 1px solid @brandColorTwo;
			padding-top: 10px;
			margin-bottom: 10px;
			text-align: center;
		}

		&.header-sub {
			margin-top: -5px;
			margin-bottom: 10px;
		}
	}

	h3 {
		.fix-weight();
		font-size: 13px;
		line-height: 22px;
		margin-bottom: 5px;
		letter-spacing: 0px;
		
		//font-family: @baseFontFamilySemiBold;
	}

	h4 {
		font-size: 11px;
		line-height: 19px;
		margin-bottom: 5px;

		small {
			font-size: 10px;
			line-height: 16px;
		}
	}

	p {
		font-size: 13px;
		color: @dark-gray;
		//margin: 0 0 @globalGutter;
	}

	// Unordered and Ordered lists
	ul, ol {
		padding: 0;
		//margin: 0 0 @baseLineHeight 25px;
	}

	ul ul,
	ul ol,
	ol ol,
	ol ul {
		padding-top: 5px;
		margin-bottom: 0;
	}

	

	ol { list-style: decimal }

	li {
		//line-height: @baseLineHeight;
		margin-bottom: 5px;
	}

	ul.unstyled,
	ol.unstyled {
		margin-left: 0;
		list-style: none;
	}

	dl {
		//margin-bottom: @baseLineHeight
	}

	dt,
	dd {
		//line-height: @baseLineHeight
	}

	dt {
		font-weight: bold;
		//line-height: @baseLineHeight - 1;
	}

	dd {
		//margin: 0 0 @baseLineHeight / 2 @baseLineHeight / 2
	}


	.dl-horizontal {
		//.clearfix();
		dt {
			float: left;
			width: 180px;
			clear: left;
			text-align: right;
			//margin: 0 0 @baseLineHeight / 2;
		}

		dd {
			//margin: 0 0 @baseLineHeight / 2 200px
		}
	}

	sup {
	    vertical-align: super;
	    font-size: smaller;
	}

	sub {
	    vertical-align: sub;
	    font-size: smaller;
	}
	.popup-link{
		cursor: pointer;
	}
	a{
		color: @brand-labels;
		text-decoration: none;

		&:hover, &:active {
			color: darken(@brand-labels, 10%);
			text-decoration: underline;
		}

		[class^="icon-"], .separator {
			text-decoration: none;
		}

		&.popup-link{
			color: @dark-gray;
			text-decoration: none;
			border-bottom: dotted @brand-main-color 1px;
			&:hover {
				text-decoration: none;
			}
		}

		&.link-gray {
			color: @mid-dark-gray;
			text-decoration: none;
			border: none;
			&:hover{
				color: @mid-dark-gray;
				text-decoration: underline;
			}
			.icon-caret-right{
				position: relative;
				top: 1px;
				padding-left: 2px;
			}
		}

		&.link-dark{
			color: @brand-labels;
			text-decoration: none;
			&:hover{
				color: @brand-labels;
				text-decoration: underline;
			}
			.icon-caret-right{
				position: relative;
				top: 1px;
				padding-left: 2px;
			}
		}

		&.link-semi-dark{
			color: @brand-heading-color;
			text-decoration: none;
			&:hover{
				color: @brand-heading-color;
				text-decoration: underline;
			}
			.icon-caret-right{
				position: relative;
				top: 1px;
				padding-left: 2px;
			}
		}

	}

}

.booking-container, .booking-popups {
	.highlight {
		color: @brand-main-color;
		padding: 0 !important;
		background-color: transparent;
	}

	// Import local version of Font Awesome (http://fortawesome.github.io/Font-Awesome/) so that it's contained within .booking-container
	@import "fontawesome/font-awesome.less";

	// generic spacing class
	.depart-arrive-spacer{
		display: inline-block;
		width: 29px;
	}

	.popup-link {
		cursor: pointer;
	}
	h2{
		letter-spacing: 0px;
	}
}

