// VARIABLES.LESS
// Contains generic values that are used across all white label versions
// --------------------------------------------------


// Global values
// --------------------------------------------------

// COLORS
// grays
// -------------------------

@white: #fff; 
@ultra-light-gray: #fafafa;
@light-gray: #eaeaea;
@mid-gray: #CfCfCf;
@mid-dark-gray: #777;
@dark-gray: #333;

@image-path: "../images/ibe_generic/";






