#cookie-alert {
    display: none;
    height: 35px;
    }

#cookie-alert-container {
    width: 940px;
    margin: 0 auto;
    }

#cookie-alert-container p {
    line-height: 34px;
    text-align: center;
    font-size: 12px;
    }

#cookie-alert-container a { text-decoration: none }

#cookie-alert-container a:hover { text-decoration: underline }

#cookie-alert-container p span { margin-left: 20px }

#cookie-alert-container .cookie-close {
    font-weight: bold;
    font-size: 14px;
    cursor: pointer;
    }

#cookie-alert-container span a.cookie-close:hover { text-decoration: none }

#cookie-alert {
    background: #efefef;
    background: -webkit-gradient(linear,0 0,0 bottom,from(#efefef),to(#D0D0C8));
    background: -moz-linear-gradient(#efefef,#D0D0C8);
    background: -o-linear-gradient(#efefef,#D0D0C8);
    background: linear-gradient(#efefef,#D0D0C8);
    -pie-background: linear-gradient(#efefef,#D0D0C8);
    }

#cookie-alert-container p { color: #333 }

#cookie-alert-container a { color: #0073ba }

#cookie-alert-container .cookie-close { color: #666 }
