/*------------------------------------------------------------

 Royal Caribbean - Less than IE9 CSS

 Copyright (c) Building Blocks (UK) Ltd

 Author: Paul Welsh
 Email: p.welsh@building-blocks.com

 Notes:

 - CSS3 Pie .htc

 - Typekit font weight increase:
   lt IE 9 uses 'Proxima Nova Extra Bold' (font-weight:800)

------------------------------------------------------------*/

header[role="banner"] nav ul li a.parent-link,
#hero-carousel article .contents h1{
	font-family: proxima-nova-n7, proxima-nova-1, proxima-nova-2;
	}

/* Fix box alignment (match height of button) */
header[role="banner"] .search input.search-box {
	padding-bottom: 4px;
	}

/* apply CSS3 PIE fix (update selectors in PIE.js too) */
.button a,
.button input,
.button.alt a,
.button.alt input,
.hero-carousel-nav li a,
.promo-bar-tabs-nav li a,
.focus-area .cruise-finder {
	-pie-poll:true;
	-pie-watch-ancestors: true;
	behavior: url(/_scripts/pie.htc?123);
	}

select,
#main,
#wrapper,
header[role="banner"] .travel-alerts a,
header[role="banner"] .manage-booking a,
header[role="banner"] .logo a,
header[role="banner"] .search .search-box,
header[role="banner"] .search .search-button,
header[role="banner"] nav,
header[role="banner"] nav ul li,
header[role="banner"] nav ul li a.parent-link,
header[role="banner"] nav ul li:last-child a.parent-link:hover,
header[role="banner"] nav ul li.parent:last-child a.parent-link,
header[role="banner"] .sub-nav,
header[role="banner"] nav ul li:last-child .sub-nav,
.overlay-contents .block,
.overlay-contents .content-block,
.extra-content-handle,
#fancybox-outer,
#fancybox-content,
.image-blocks li h2,
#content-nav ul,
#content-nav li,
#content-nav li:first-child,
.google-map,
.info-grid-banner .image-blocks li,
.link-grid-banner .image-blocks li,
.experience-container .image-blocks li,
.roll-up .contents,
.roll-up .roll-up-handle,
.links-list,
.feature-video.hero-item .video-container,
.image-gallery-carousel,
.hero-deals,
.hero-deals > h2,
.promo-featured,
.promo-featured > h2,
.focus-area .cruise-finder,
.cruise-finder > h2,
.promo-bar .bar,
.promo-bar-toggle-contents {
	-pie-watch-ancestors: true;
	behavior: url(/_scripts/pie.htc?123);
	}

.ie7 .v2.phone-number{
    margin-top: 10px;
    }
