/*------------------------------------------------------------

 Royal Caribbean - Less than IE9 Noscript CSS

 Copyright (c) Building Blocks (UK) Ltd

 Author: Paul Welsh
 Email: p.welsh@building-blocks.com

 Notes:
 
------------------------------------------------------------*/

html {
	background: #0075BB;
	}

body{
	width: 748px!important;
	padding: 20px;
	margin: 0 auto!important;
	background: #fff;
	}

* {
	position: static!important;
	float: none!important;
	clear: both!important;
	width: auto!important;
	height: auto!important;
	text-align: left!important;
	margin-left: 0!important;
	margin-right: 0!important;
	margin-bottom: 20px;
	}
	
ol, ul {
	margin-left: 40px!important;
	}
	
input, select {
	border: 1px solid #BBB!important;
	}