/*Pack in Much More
------------------------------------------------------------*/

body {
/*     padding-bottom: 60px !important */
    }


#pimmBar {
    position: fixed;
    bottom: 0px;
    width: 100%;
    height: 45px;
    background: url(../_images/css/bar-bg-new.png) 0 0 repeat-x;
    z-index: 10;
    }

#pimmBarInner {
    position: relative;
    width: 930px;
    height: 39px;
    margin: 0 auto;
    }

    #pimmLogo {
		position: absolute;
		height: 50px;
		width: 160px;
		left: 338px;
		top: -6px;
		z-index: 2;
	    }

#pimmBarInnerCase {
    position: absolute;
    top: -50px;
    left: 175px;
    width: 130px;
    height: 84px;
    cursor: pointer;
    display: none;
    }

#pimmBarInnerLink {
	position: relative;
	top: 16px;
	height: 18px;
	margin: 0 auto;
	width: 120px;
	text-indent: -999em;
	z-index: 3;
    }

    #pimmBarInnerLink ul {
        padding: 0;
        margin: 0;
        background: url(../_images/css/pimm-arrow-up.png) 100% 0px no-repeat;
        }

    #pimmBarInnerLink li {
        display: none;
        padding: 0 0 0 40px;
        margin: 0;
        list-style: none;
        color: #fff;
        font-family: "proxima-nova-1", "proxima-nova-2", sans-serif;
        font-size: 14px;
        cursor: pointer;
        }

        #pimmBarInnerLink li strong {
            color: #fff
            }

some_nowhitespace {
    nowhitespace: afterproperty
    }

/*fix for cascading style*/

#pimmBarInnerLink li.show {
    display: block
    }

#pimmBarInnerLink.down ul {
    background: url(../_images/css/pimm-arrow-down.png) 100% 0px no-repeat;
    }

#pimmBarInnerLink.down li.show {
    display: none
    }

#pimmBarInnerLink.down li.back {
    display: block
    }

#pimmOverlayBG {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    background-color: #003976;
    z-index: 9;
    }

#pimmOverlay {
    position: absolute;
    bottom: 32px;
    left: 8px;
    width: 924px;
    height: 0px;
    overflow: hidden;
    z-index: 1;
    }

#pimmOverlayInner {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 924px;
    }

#pimmClose {
    position: absolute;
    top: 67px;
    right: 0px;
    width: 30px;
    height: 30px;
    background: url(../_images/css/fancybox.png) repeat scroll -40px 0 transparent;
    cursor: pointer;
    z-index: 11;
    }

#pimmTabLabels {
    position: absolute;
    top: 34px;
    right: 15px;
    }

    #pimmTabLabels li {
        position: relative;
        float: left;
        height: 25px;
        list-style: none;
        padding: 4px 10px 0 10px;
        margin-left: 1px;
        font-family: "proxima-nova-1", "proxima-nova-2", sans-serif;
        font-size: 13px;
        color: #0073ba;
        cursor: pointer;
        background: url(../_images/css/tab-label-bg.gif) bottom left repeat-x #fdd32b;
        border: 2px solid #fff;
        -moz-border-radius-topleft: 10px;
        -moz-border-radius-topright: 10px;
        -moz-border-radius-bottomright: 0px;
        -moz-border-radius-bottomleft: 0px;
        -webkit-border-radius: 10px 10px 0px 0px;
        border-radius: 10px 10px 0px 0px;
        }

    #pimmTabLabels li.selected {
        background-color: #fff;
        background-image: none;
        }

.pimmTab {
    position: absolute;
    display: none;
    top: 65px;
    left: 0px;
    min-height: 400px;
    width: 920px;
    padding-bottom: 35px;
    background: url(../_images/css/tab-bg.gif) bottom left repeat-x #fff;
    border: 2px solid #fff;
    -moz-border-radius-topleft: 10px;
    -moz-border-radius-topright: 10px;
    -moz-border-radius-bottomright: 0px;
    -moz-border-radius-bottomleft: 0px;
    -webkit-border-radius: 10px 10px 0px 0px;
    border-radius: 10px 10px 0px 0px;
    }

    .pimmTab time {
        display: none;
        position: relative;
        background: #F1F0F0 url(../_images/css/calendar_bg.jpg) no-repeat center 0;
        font-family: arial, helvetica, sans-serif;
        font-weight: bold;
        font-size: 36px;
        color: #999;
        text-align: center;
        margin: 0 auto 10px auto;
        width: 81px;
        height: 105px;
        }

        .pimmTab time span {
            position: absolute;
            top: 50px;
            left: 30px;
            }

.pimmColLeft {
    position: relative;
    float: left;
    padding: 60px 30px;
    }


.pimmColRight {
    position: relative;
    float: left;
    width: 364px;
    padding: 30px 30px 30px 0;
    }

    .pimmColRight h2 {
        font-size: 20px;
        color: #003976;
        margin-bottom: 20px;
        }

    .pimmColRight p {
        font-size: 12px;
        color: #0073ba;
        margin-bottom: 20px;
        }

#pimmTab1 .pimmColLeft {
    width: 460px;
    height: 250px;
    padding: 0;
    margin: 30px;
    }

    #pimmTab1 .pimmColLeft p {
        color: #0073ba;
        font-family: "proxima-nova-1", "proxima-nova-2", sans-serif;
        font-size: 15px;
        }

        #pimmTab1 .pimmColLeft p strong {
            color: #0073ba
            }

.pimmColFull {
	padding: 30px 30px 65px;
	float: left;
	}

	.pimmColFull img {
		float: left;
		}

some_nowhitespace {
    nowhitespace: afterproperty
    }

/*fix for cascading style*/

#pimmTab1 .pimmColRight {
    width: 370px
    }

#pimmTab1 .pimmSlideShow {
    border: none;
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    border-radius: 0px;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    }

.pimmCaseLarge {
    position: absolute;
    top: -65px;
    left: 0;
    width: 185px;
    height: 117px;
    z-index: 1;
    }

.pimmA {
    display: block;
    width: 275px;
    padding: 5px 10px;
    margin-bottom: -10px;
    color: #48a2d9;
    font-family: "proxima-nova-1", "proxima-nova-2", sans-serif;
    font-size: 18px;
    text-decoration: none;
    background: url(../_images/css/a-bg.gif) right 50% no-repeat;
    border: 1px solid #e3e3e3;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    }

.pimmA:hover {
    color: #48a2d9;
    text-decoration: none;
    background-image: url(../_images/css/a-bg-over.gif);
    }

.pimmSlideShow {
    position: relative;
    width: 430px;
    height: 250px;
    overflow: hidden;
    border: 3px solid #fff;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    -webkit-box-shadow: 0px 0px 3px 3px #ccc;
    -moz-box-shadow: 0px 0px 3px 3px #ccc;
    box-shadow: 0px 0px 3px 3px #ccc;
    }

    .pimmSlideShow ul {
        position: absolute;
        top: 0px;
        left: 0px;
        padding: 0;
        margin: 0;
        }

    .pimmSlideShow li {
        position: relative;
        float: left;
        width: 430px;
        padding: 0;
        margin: 0;
        list-style: none;
        }

.pimmSlideShowPage {
    position: absolute;
    bottom: 6px;
    left: 0px;
    }

    .pimmSlideShowPage span {
        display: block;
        float: left;
        width: 6px;
        height: 6px;
        margin: 6px 6px 0 6px;
        background-color: #fff;
        border: 1px solid #fff;
        -webkit-border-radius: 4px;
        -moz-border-radius: 4px;
        border-radius: 4px;
        }

    .pimmSlideShowPage span.selected {
        background-color: transparent
        }

.pimmButtonLeft {
    position: absolute;
    top: 170px;
    left: 5px;
    width: 18px;
    height: 30px;
    background: url(../_images/css/left.png) 0 0 no-repeat;
    }

.pimmButtonRight {
    position: absolute;
    top: 170px;
    right: 5px;
    width: 18px;
    height: 30px;
    background: url(../_images/css/right.png) 0 0 no-repeat;
    /* Published: 3/7/2012 10:15:18 AM*/;
    /* Images not published: */; /**** ****/
    }
